[2016-09-25 22:36] QuincyLarson opened #1 "Add a contributing.md"

[2016-09-25 22:37] QuincyLarson opened #2 "Add a license.md file - probably MIT, but open for discussion"

[2016-09-26 07:59] erictleung commented on #2
Considering this repo, from what I understand, won't be code/software, the MIT license might not be the most appropriate license. Using the [Choose a License](http://choosealicense.com) website, they have [options for non-software](http://choosealicense.com/non-software/), namely Creative Commons licenses that may be more appropriate. Just my two cents.

[2016-09-26 08:32] QuincyLarson commented on #2
@erictleung you're right. Since this won't be software, CC-4.0-BY-SA is probably the right license. This is what the most popular non-code repo (https://github.com/vhf/free-programming-books) uses.

[2016-09-28 17:19] ShadowTwo commented on #2
Good day all,

I am a first timer and I was looking for a simple project to get started on, and this looks like a great starting place, and links made for some good info.

I read over the different options I think you are spot on with CC-4.0-BY-SA. Do you mind if I create the file and create a pull request for this?

[2016-09-28 17:27] QuincyLarson commented on #2
@ShadowTwo please :)

I will accept your PR.

[2016-09-29 16:57] shubheksha opened #5 "Add If Me - app to share mental health experiences with loved ones"
https://github.com/julianguyen/ifme
Issue label: [newbiefriendly](https://github.com/julianguyen/ifme/issues?q=is%3Aissue+is%3Aopen+label%3Anewbiefriendly)

[2016-09-29 17:02] shubheksha opened #6 "Add Gitlab"
[Dev Kit](https://gitlab.com/gitlab-org/gitlab-development-kit)
[Dev Guide](https://docs.gitlab.com/ce/development/README.html)
Issue label: [up-for-grabs](https://gitlab.com/gitlab-org/gitlab-ce/issues?label_name=up-for-grabs)

[2016-09-29 17:07] shubheksha opened #7 "Add Read The Docs"
http://docs.readthedocs.io/en/latest/index.html

[Contributing guide](http://docs.readthedocs.io/en/latest/contribute.html)
Issue label: [Good First Bug](https://github.com/rtfd/readthedocs.org/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Bug%22)

[2016-09-29 17:22] shubheksha opened #8 "Add SymPy"
http://sympy.org/

[Dev Wiki](https://github.com/sympy/sympy/wiki#development)
[Work Flow](https://github.com/sympy/sympy/wiki/Development-workflow)
[Introduction to contributing](https://github.com/sympy/sympy/wiki/Introduction-to-contributing)
Issue label: [Easy To Fix](https://github.com/sympy/sympy/issues?q=is%3Aissue+is%3Aopen+label%3A%22Easy+to+Fix%22)

[2016-09-29 17:25] shubheksha opened #9 "Add React"
https://facebook.github.io/react/index.html

[Contributing guide](https://facebook.github.io/react/contributing/how-to-contribute.html)
Issue label: [good first bug](https://github.com/facebook/react/labels/good%20first%20bug)

[2016-09-29 18:50] jihdeh commented on #1
@QuincyLarson Please can i take on this?

[2016-09-29 19:00] QuincyLarson commented on #1
@jihdeh Definitely. Let me know if you need any help. 😄

[2016-09-30 13:24] shubheksha opened #11 "Add Hoa Project"
[Contributor Guide](https://hoa-project.net/En/Literature/Contributor/Guide.html)
Issue label: [casual](https://waffle.io/hoaproject/Central?search=difficulty%3A+casual)

[2016-09-30 13:25] shubheksha opened #12 "Add Docker"
[Contributor guide](https://docs.docker.com/opensource/workflow/make-a-contribution/)
Issue label: [exp/beginner](https://github.com/docker/docker/issues?q=is%3Aopen+is%3Aissue+label%3Aexp%2Fbeginner)

[2016-09-30 13:34] shubheksha opened #13 "Add Gnome"
[New Contributor Guide](https://wiki.gnome.org/Newcomers)

[2016-09-30 14:47] #2 closed

[2016-09-30 15:56] shubheksha opened #14 "Add PyBee"
[Guide for new contributors](http://pybee.org/contributing/first-time/)
- [ ] Add details about VoC
- [ ] Add details about Batavia

[2016-09-30 15:58] shubheksha opened #15 "Add Test Kitchen"
http://kitchen.ci/
Issue label: [*](https://github.com/test-kitchen/test-kitchen/issues?q=is%3Aopen+is%3Aissue+label%3A%E2%AD%90%EF%B8%8F)

[2016-09-30 16:10] shubheksha opened #16 "Add Dita Ota"
http://www.dita-ot.org/
Issue label: [good first bug](https://github.com/dita-ot/dita-ot/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+bug%22)

[2016-10-04 13:06] shubheksha opened #17 "Add Hoodiehq"
https://github.com/hoodiehq/camp
https://github.com/hoodiehq/hoodie

[2016-10-04 13:10] shubheksha opened #18 "Add metamaps"
https://github.com/metamaps/metamaps/blob/develop/doc/RailsIntroduction.md
https://github.com/metamaps/metamaps/blob/develop/doc/CONTRIBUTING.md

[2016-10-04 13:11] shubheksha opened #19 "Add Jenkins"
https://wiki.jenkins-ci.org/display/JENKINS/Beginners+Guide+to+Contributing

[2016-10-12 07:45] TushaarGVS commented on #13
Hey, what has to be done here? Can you please help me out?

[2016-10-12 13:39] HimadriNitk commented on #8
I would like to work on this issue. Could you help me out?

[2016-10-13 10:27] aabi01 commented on #17
i am up for it !

[2016-10-15 06:43] meetsha commented on #19
Can I work on this issue?

[2016-10-15 08:21] meetsha commented on #12
Can you help? Do I create a new section? Or should I add this to "Contributing to open source in general" section?

[2016-10-15 09:00] meetsha commented on #13
I just created a pull request to fix this issue. My first pull request(!!!). Can you please review it:)

[2016-10-15 09:30] shubheksha commented on #13
@tushaarGVS - since @meetsha already submitted a PR for this issue, would you mind working on something else? I'd be happy to help you out with any other issue you pick on which someone hasn't commented already.

@meetsha - from next time onwards, please pick up an issue on which someone hasn't already expressed interest in working through a comment and a maintainer of the project is yet to follow

[2016-10-15 17:41] captainsafia opened #24 "Add nteract"
Please come contribute to nteract!

You can use the new-contributor-friendly label to find issues that are easy for new contributors to tackle.

We also have issues with a mentoring-available tag in which a maintainer will be able to provide 1-on-1 assistance with the issue.

[nteract](https://github.com/nteract/nteract)
[new-contributor-friendly](https://github.com/search?utf8=%E2%9C%93&q=user%3A

[2016-10-15 17:44] shubheksha opened #25 "Add Servo"
https://starters.servo.org/
https://github.com/servo/servo/blob/master/CONTRIBUTING.md
Issue label: [E-easy](https://github.com/servo/servo/issues?q=is%3Aissue+is%3Aopen+label%3AE-easy)

[2016-10-15 17:47] shubheksha opened #26 "Add Rust"
https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md
Issue label: [E-easy](https://github.com/rust-lang/rust/issues?q=is%3Aissue+is%3Aopen+label%3AE-easy)

[2016-10-15 17:57] doug-wade opened #27 "Add react-server"
The tag: https://github.com/redfin/react-server/labels/good%20first%20contribution
The contributing guide: https://github.com/redfin/react-server/blob/master/CONTRIBUTING.md
The docs: https://react-server.io

[2016-10-15 18:02] hzoo opened #28 "Babel/Babel website"
Main Repo: https://github.com/babel/babel
Contributing: https://github.com/babel/babel/blob/master/CONTRIBUTING.md
Labels:
- https://github.com/babel/babel/labels/beginner-friendly
- https://github.com/babel/babel/labels/help-wanted

Website: http://babeljs.io/
Website Repo: https://github.com/babel/babel.github.io
Slack: https://slack.babeljs.io/
Twitter: https://twitter.com/babeljs

[2016-10-16 04:11] ryzokuken commented on #26
@shubheksha I wanted to solve this as my first issue here... Could you please elaborate on the issue? Where do I add the Rust project? Perhaps some list of beginner-friendly projects?

[2016-10-17 10:18] meetsha commented on #13
I am really sorry @TushaarGVS. I will keep that in mind @shubheksha.

[2016-10-17 15:46] coni2k opened #29 "First mission: Contributors page"
@shubheksha, thanks for drawing attention to this, appreciated.

As a maintainer, wrote an article about how could we lower the barrier for newcomers, could be useful for you?
https://medium.com/@forCrowd/first-mission-contributors-page-df24e6e70705#.2v2g0no29

[2016-10-21 08:53] aabi01 commented on #25
@shubheksha  Can i take this issue?

[2016-10-21 10:50] raj-maurya commented on #6
@shubheksha

Can you please, describe a little more about this issue, what is expected to do?

[2016-10-22 15:00] shrawnz commented on #7
Could you help me out on this one? I'd like to work on it

[2016-11-01 00:45] erictleung commented on #1
Looks like this issue can be closed because #10 resolves this.

[2016-11-23 20:17] dancancro opened #32 "Add Angular 2 + Redux"
Here's what I have so far. It includes re-implementations of some OSS single-feature demos into one big application. The goal is to provide learners with access to code as complete as it is in real companies without them having to get hired first.
https://github.com/dancancro/great-big-angular2-example

[2016-12-12 08:29] shubheksha commented on #29
@coni2k, thank you - yes, certainly! We'll be adding a list of articles for maintainers to make their project more beginner-friendly as well. 😃

[2016-12-12 16:05] coni2k commented on #29
@shubheksha, sounds great, I will follow the news :)

And meanwhile, since this tutorial kind of approach helped us to reach many new members (15+ new PRs, 20+ new forks in couple of months), I would like to work on extending it with new missions. If I can create something solid, I will post it here to let you know. Thanks again!

[2016-12-12 18:25] erictleung opened #35 "Add awesome_bot to find broken links"
The [awesome_bot project](https://github.com/dkhamsing/awesome_bot) aims to automatically validate links so that in the case that in the future, one of the links dies or moves, we'll know about it automatically.

I've set this up before using TravisCI and it works pretty well. Just a thought.

[2016-12-13 07:33] shubheksha commented on #35
This is great, we should definitely hook this to the repo!

[2016-12-13 15:34] raisedadead commented on #1
Closing. :wink:

[2016-12-13 15:34] #1 closed

[2016-12-13 15:46] raisedadead opened #36 "Structure for the repo"
Let's keep this issue to discuss a structure for the repo.

Obviously, we don't want to be adding everything to the repo's Readme.md. Here are a few concepts to think of the structure, please add more as you please:

- Firstly IMHO we want this to be a dead simple resource for new contributors to either start their contributing journey and add resources in this repo as a process Or just use this a

[2016-12-13 21:59] erictleung commented on #35
@shubheksha awesome! :smile:

If someone wants to take this up, just create a `.travis.yml` file in the root of this repository with

[code]

Additionally, we'll want to sync this to FreeCodeCamp's TravisCI, maybe @QuincyLarson can weigh in on if he can set this up?

[2016-12-28 13:21] susg commented on #19
Do I need to make a new section like " Mozilla contributor ecosystem " or just add it in the " Contributing to open source in general " section ?

[2016-12-29 21:17] erictleung opened #37 "Add "Getting into Open Source for the First Time""
Very extensive post by Dean McDonnell on step-by-step process to contributing to projects.

Probably good under the ["Useful articles for new open source contributors"](https://github.com/FreeCodeCamp/how-to-contribute-to-open-source#useful-articles-for-new-open-source-contributors) section.

Article: http://www.nearform.com/nodecrunch/first-time-with-open-source/

[2017-01-02 10:16] cosmicAsymmetry opened #38 "Add Zulip as an organization"
http://zulip.org
http://github.com/zulip

[2017-01-06 08:31] erictleung commented on #36
@raisedadead thanks for bringing up the structure of the repo. Just getting around to responding to it 😄

I agree that we shouldn't have too cluttered of a guide.

So with all the [project](https://github.com/FreeCodeCamp/how-to-contribute-to-open-source/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3Aproject) and [organization](https://github.com/FreeCodeCamp/how-to-contribute-to-open-so

[2017-01-06 10:03] prashantpcm94 commented on #16
i want to work on this

[2017-01-07 01:08] QuincyLarson commented on #36
I agree with @raisedadead and @erictleung that we don't want to overwhelm first-time visitors with complexity.

We can build a static webpage front end that consumes our markdown files and makes them more searchable (maybe using something like Gatsby if it's ready for prime time). As for the structure of the main README.md, I agree that we should keep it simple and link to other pages in the repo.

[2017-01-11 04:44] erictleung opened #39 "Add 45 GitHub Issues Dos and Don'ts"
The article is about:

- Reporting issues
- Requesting features
- Pull requests
- Being a decent human being

Not directly involved in "contributing" to an open source project but I think it has some good tips for interacting with one.

This could be stashed in a "Miscellaneous" section.

Source: https://hackernoon.com/45-github-issues-dos-and-donts-dfec9ab4b612#.2rqkbkp3g

[2017-01-17 23:01] erictleung opened #40 "Add "Contributing to Open Source on GitHub" article"
Article could be put in the [Useful articles for new open source contributors](https://github.com/freeCodeCamp/how-to-contribute-to-open-source#useful-articles-for-new-open-source-contributors) section.

**Outline:**

- Intro
- Find Projects
- A Typical Project
- Contributing to a Project

Source: https://guides.github.com/activities/contributing-to-open-source/index.html

[2017-02-12 18:09] pdurbin opened #44 "list of beginner-friendly FOSS projects"
Hi! I just read "I am trying to create a list of beginner-friendly FOSS projects" at https://medium.freecodecamp.com/how-to-attract-new-contributors-to-your-open-source-project-46f8b791d787#.jrgxexd14 and it's unclear to me where to find this list in this repo.

I see that a heading in the README called "Open Source Projects to contribute to:" followed by a list of projects has been proposed in pu

[2017-02-13 00:24] erictleung commented on #44
@pdurbin thanks for the issue. Yeah, we've been trying to figure out the directory structure to save that list in. For now, you can check out the ["project"](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/issues?q=is%3Aissue+is%3Aopen+label%3Aproject) labeled issues for some ideas.

[2017-02-13 00:55] erictleung commented on #36
Okay, so we can decide to use Gatsby later, but for now, I think we can just stick all the projects and organizations into one file organized similarly to how @shubheksha has laid out in https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/34

[code]

Which will render to something like this

[2017-02-18 01:04] QuincyLarson commented on #36
@erictleung This looks excellent. I like that hierarchy.

[2017-04-17 19:39] alfonsotech commented on #9
Hi, I'd like to work on this one but I'm not sure what needs to be done. Can you help me get started in the right direction? Thanks!

[2017-04-18 02:15] erictleung commented on #9
@alfonsotech thanks for your interest in contributing! This issue is related to https://github.com/freeCodeCamp/how-to-contribute-to-open-source/issues/36, where we will create a separate file to hold different projects to contribute to. I've been meaning to work on this soon so others can contribute. Right now, it appears that someone else has tried to add this link already https://github.com/fre

[2017-04-19 08:30] erictleung opened #46 "Add GitHub Guides to "Using version control" section"
## Requested Changes

Add underneath this section https://github.com/freeCodeCamp/how-to-contribute-to-open-source#contributing-to-open-source-in-general

Source: https://guides.github.com/

## Contributing Help

Follow the directions below if you want to work on this on the command line. Otherwise, following the instructions in the Contributing document.

You'll want to fork this project first by

[2017-04-19 08:33] erictleung opened #47 "Add GitHub's Open Source Guide article, "How to Contribute to Open Source""
Add underneath this section https://github.com/freeCodeCamp/how-to-contribute-to-open-source#contributing-to-open-source-in-general

Source: https://opensource.guide/how-to-contribute/

[2017-04-19 08:35] erictleung opened #48 "Image fails to render correctly in CONTRIBUTING.md"
https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/CONTRIBUTING.md#getting-started

[2017-04-19 11:06] morrme commented on #37
Hi, there seem to be a few issues with links that you want added to the same page. Is it  OK to add them in one PR?

[2017-04-19 11:08] morrme commented on #35
is this still needed ?

[2017-04-19 15:56] erictleung commented on #35
@morrme I think it is useful in the long run (obviously, because I made the issue 😄 ). We'll start amassing more and more links so I think it is good to validate them and keep only live links.

[2017-04-19 15:57] erictleung commented on #37
@morrme I would be okay with addressing a couple issues in one PR, but don't go too crazy and add all the links 😉

[2017-04-25 17:26] lucasbarross commented on #47
I sent a pull request with the changes.

[2017-04-25 19:51] erictleung commented on #47
@lucasbarross thanks! I've merged it. Next time, you can close issues by adding `Closes #9` or whatever issue number to the pull request body.

Fixed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/49. Closing as resolved. Happy coding!

[2017-04-25 19:51] #47 closed

[2017-05-08 19:57] Toughee commented on #40
Hi. I can help with this issue.

[2017-05-08 22:58] erictleung commented on #40
@Toughee go for it! :+1:

[2017-05-08 23:15] erictleung commented on #48
Seems to have resolved itself.

[2017-05-08 23:15] #48 closed

[2017-05-18 01:41] mmcewan commented on #37
@erictleung - If this issue is still open I'd like to take it.

[2017-05-18 04:35] erictleung commented on #37
@mmcewan go for it! :+1:

[2017-05-19 07:13] Elysei commented on #39
Hi, I'm new to contributing (and to git/github) but I think I have enough understanding to do this.

[2017-05-19 07:27] #37 closed

[2017-05-19 07:29] erictleung commented on #39
@Elysei thanks for your interest! Feel free to visit the [contributors Gitter chat room](https://gitter.im/FreeCodeCamp/Contributors) for help with git and GitHub if you need it. Or feel free to message me on Gitter as well. Good luck!

[2017-05-19 17:21] Toughee commented on #40
I'm finishing the draft right now.

I should send everything done by this weekend.

[2017-05-22 05:16] Toughee commented on #40
It's done. Here's the article's link:
http://tougheestech.blog/2017/05/22/how-to-contribute-to-open-source-on-github/

Is there's anything you see that I need to fix or add to the article before I commit any changes?

[2017-05-22 17:59] erictleung commented on #40
@Toughee thanks for taking the time to write the article. If it wasn't clear on what the issue was, it was to add the link I posted to the [README.md](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/README.md) file. If you're still interested in adding it to the list, feel free to do so and let me know if you have any questions about it.

[2017-05-24 20:16] erictleung commented on #40
Closed by #52

[2017-05-24 20:16] #40 closed

[2017-05-29 03:27] erictleung opened #53 "Add GitHub's list of resources for git and GitHub"
Add under "Version control" section.

https://help.github.com/articles/git-and-github-learning-resources/

[2017-05-29 21:49] mmcewan commented on #35
#54

[2017-06-04 03:50] andrewnding commented on #53
Hi, I'm a first time contributor. I'd like to take this on to practice contributing!

[2017-06-04 04:06] erictleung commented on #53
@andrewnding go for it! So what I'm suggesting to do in this issue is to just take that link above and put it under the "Version control" section. Let us know in the [Contributors Gitter chat room](https://gitter.im/FreeCodeCamp/Contributors) if you have any questions contributing.

[2017-06-06 13:23] satyadeeproat commented on #53
Hi @erictleung Just wanted to start contributing. So should i make a new branch after cloning or work in the master ?

[2017-06-06 13:47] andrewnding commented on #53
I've already pushed a commit #55 that addresses this issue

[2017-06-06 14:16] erictleung commented on #53
@andrewnding thanks for the pull request! I've been busy at a conference the past couple days so I haven't been able to look at your pull request. Also, for future reference, you can close issues from your pull request using [GitHub keywords](https://help.github.com/articles/closing-issues-via-commit-messages/). So for this issue, within your pull request made on GitHub, you can add `Closes #53` i

[2017-06-06 14:19] erictleung commented on #53
Fixed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/55.

[2017-06-06 14:19] #53 closed

[2017-06-06 16:18] andrewnding commented on #53
Thanks I didn't know about the commit message I'll do that in the future!

[2017-06-13 03:08] #35 closed

[2017-06-13 03:13] erictleung opened #58 "Add Travis CI build badge to README"
To show the build status of the project, we should add a badge.

The README should look something like this:

[code]

Which will render to something like this:

# Welcome newbie open source contributors!

[![Build Status](https://travis-ci.org/freeCodeCamp/how-to-contribute-to-open-source.svg?branch=master)](https://travis-ci.org/freeCodeCamp/how-to-contribute-to-open-source)

This is a list of re

[2017-06-13 03:16] erictleung opened #59 "Add badges to label PR friendliness"
Add the following to the README

[code]

Which will render something like this:

# Welcome newbie open source contributors!

[![Pull Requests Welcome](https://img.shields.io/badge/PRs-welcome-brightgreen.svg?style=flat)](http://makeapullrequest.com) [![first-timers-only Friendly](https://img.shields.io/badge/first--timers--only-friendly-blue.svg)](http://www.firsttimersonly.com/)

This is a list o

[2017-06-13 03:24] erictleung opened #60 "Have awesome_bot check the PROJECTS.md file"
Change the [`package.json`](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/package.json) file to check the [`PROJECTS.md`](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/PROJECTS.md) file as well in validating links

[code]

[2017-06-13 03:30] erictleung opened #61 "Fix missing parenthesis in the PROJECTS.md file"
See below. There is a missing parenthesis for the contributing guide, so the formatting is messed up.

## Screenshot

![image](https://user-images.githubusercontent.com/2754821/27064767-e3a672b8-4fad-11e7-9a6d-7b541f2ffe2c.png)

[2017-06-13 03:58] srajappa commented on #59
Raised a PR :) please review :)

[2017-06-13 04:28] aparnaadesai commented on #61
@erictleung Can I claim this one and fix it?

[2017-06-13 05:14] aparnaadesai commented on #61
Created a pull request for this issue https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/63

[2017-06-13 05:25] #61 closed

[2017-06-13 20:23] erictleung commented on #59
Closing as fixed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/62.

[2017-06-13 20:23] #59 closed

[2017-06-17 19:42] frantsen commented on #58
Can I take this?

[2017-06-17 19:42] frantsen commented on #58
Can I take this too?

[2017-06-17 19:43] frantsen commented on #60
Can I take this too?

[2017-06-18 04:39] #58 closed

[2017-06-18 04:39] #60 closed

[2017-08-02 19:30] erictleung opened #67 "Add "Try Git" to "Using version control" section"
Description: "Learn Git in your browser for free"

Link: https://try.github.io

[2017-08-03 02:17] Logan1x commented on #67
I would like to work on this @erictleung

[2017-08-03 03:29] erictleung commented on #67
@Logan1x unfortunately, someone's already made a pull request to fix this (https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/68). However, there's plenty of other issues in this repository to work on, so feel free to find another one to work on.

[2017-08-03 08:14] Logan1x commented on #67
It's okay 😊

[2017-08-04 01:32] erictleung commented on #67
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/68

[2017-08-04 01:32] #67 closed

[2017-08-04 04:42] Simfa11 commented on #67
I would like to contribute...Please how do i contribute

[2017-08-04 16:45] erictleung commented on #67
@Simfa11 thanks for your interest in contributing! Please take a look at the open issues and find one you'd like to work on https://github.com/freeCodeCamp/how-to-contribute-to-open-source/issues :+1:

[2017-08-12 14:00] vikramnr commented on #46
@erictleung Is this being done?

[2017-08-15 15:47] erictleung commented on #39
Closing as fixed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/69.

[2017-08-15 15:47] #39 closed

[2017-08-16 06:22] vikramnr commented on #25
@erictleung @shubheksha Can I raise PR for this one? If so in which `section` it has to be added?

[2017-08-16 06:32] erictleung commented on #25
@vikramnr this should be added to the `PROJECTS.md` file https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/PROJECTS.md. Let us know if you have any questions about contributing or have issues trying to make changes if you're still interested in contributing! :+1:

[2017-08-21 07:44] erictleung opened #73 "Remove unnecessary spaces in listing"
## Issue

In the README and under the listing for the Do's and Don'ts, there are unnecessary spaces in the description.

![image](https://user-images.githubusercontent.com/2754821/29508527-bc425876-8609-11e7-84b7-40aaf471fe62.png)

## To Contribute

Check out our [CONTRIBUTING.md](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/CONTRIBUTING.md) document for details and

[2017-08-21 11:48] tracypholmes commented on #73
If it's my first time helping out on your codebase/documentation, is that acceptable? If so, I would like to grab this one.

[2017-08-21 14:52] rsarky commented on #73
I have submitted a pull request for this issue.Could you please review it. @erictleung
#74

[2017-08-21 15:17] vikramnr commented on #46
@sblasa  I have raised PR from | ab86b1f | above commit but it has some conflicts So Please continue 👍

[2017-08-21 21:13] erictleung commented on #73
@tracypholmes hi there! Sorry I got to this too late. Unfortunately, it appears someone has already picked this up and submitted a pull request. Luckily, there are many other issues that are of a similar contributing level. Free feel to take a look at the other issues and let me know if you have any questions on helping out :+1:

@rsarky I'll still consider your pull request, but next time, please

[2017-08-21 21:14] tracypholmes commented on #73
No problem @erictleung and thank you! Will def check things out!

[2017-08-21 21:15] erictleung commented on #73
Closing as the issue is resolved by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/74. Happy coding!

[2017-08-21 21:15] #73 closed

[2017-08-21 21:22] erictleung commented on #46
@sblasa hi there! As it is already mentioned above, @vikramnr already made a pull request, but it appears your fork is not up to date, so that's why there are some conflicts. You're more than welcome to make the changes.

Take a look at the [contributing document](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/CONTRIBUTING.md) for some help. You'll want to fork the pr

[2017-08-22 01:57] sblasa commented on #46
@erictleung Hi, @vikramnr said I can to take over. It was his pull request that had some conflicts. I will do the pull request. I had forked the project already. I hope that's okay. Thanks!

[2017-08-22 04:04] rsarky commented on #73
I am extremely sorry @tracypholmes.
Next time I will surely ask before working on a issue.@erictleung
Thanks a lot for the help.

[2017-09-01 06:31] erictleung commented on #46
Closing as resolved by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/76. Happy coding!

[2017-09-01 06:31] #46 closed

[2017-09-10 20:21] erictleung opened #78 "Incorrect article name needs fixing"
Within the section [Useful articles for new open source contributors](https://github.com/freeCodeCamp/how-to-contribute-to-open-source#useful-articles-for-new-open-source-contributors), there is a typo in the article [How to Find a Bug in Your Code](https://8thlight.com/blog/doug-bradbury/2016/06/29/how-to-find-bug-in-your-code.html).

[code]

[2017-09-10 20:36] namratab94 commented on #78
Hello,
Is anyone working on this? If not, then can I?

[2017-09-10 20:38] namratab94 commented on #7
Hello,
Is anyone working on this issue?

[2017-09-10 20:49] erictleung commented on #78
@namratab94 go for it! Feel free to visit the [Contributors Help](https://gitter.im/FreeCodeCamp/Contributors) chat room if you have any questions about helping. We're there to help.

[2017-09-10 20:50] erictleung commented on #7
@namratab94 go for it! As with the other issue, feel free to visit the [Contributors Help](https://gitter.im/FreeCodeCamp/HelpContributors) chat room if you have any questions about helping. We're there to help.

[2017-09-10 21:01] namratab94 commented on #7
@erictleung Thank you so much!

[2017-09-13 20:26] shovanch commented on #78
Would love to work this. This would be my first open source contribution

[2017-09-13 21:13] erictleung commented on #78
@shovanch it looks like @namratab94 has already said they are working on it. It's only been several days since. I'll give them a total of a week to make the changes unless @namratab94 wants to comment on their status.

You can always take a look at the other issues in this repository for other issues to tackle. Thanks for your interest in contributing!

[2017-09-13 21:15] shovanch commented on #78
@erictleung Thanks for the response. I'll keep a look out

[2017-09-13 21:47] namratab94 commented on #78
@erictleung @shovanch I was figuring out how to make a contribution to the repo and was working on issue #7. I have not abandoned this issue yet and will start working on this by tonight.

[2017-09-13 23:01] shovanch commented on #6
Hello, Can I take this issue? Would love to contribute to open source first time.

[2017-09-13 23:03] shovanch commented on #24
Is anyone working on this? I would like to take this.

[2017-09-13 23:15] rgbkrk commented on #24
I don't think anyone is. Based on digging through the linked up-for-grabs site, I think you can add nteract in the style they mention here: https://github.com/up-for-grabs/up-for-grabs.net#add-a-project

[2017-09-13 23:23] shovanch commented on #24
Thanks for the response. I would start working on it then.

[2017-09-13 23:34] shovanch commented on #12
Hello, Is anyone working on this? If not, can I take this?

[2017-09-18 21:20] erictleung commented on #24
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/80. Happy coding, all!

[2017-09-18 21:20] #24 closed

[2017-09-18 21:34] erictleung opened #81 "Add license logo to the bottom of README"
Add this to the bottom of the README for visual

[code]

It should render as

## License

<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative

[2017-09-19 15:39] erictleung commented on #78
Fixed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/83. Closing as resolved. Happy coding!

[2017-09-19 15:39] #78 closed

[2017-09-19 15:54] erictleung commented on #81
Fixed by #82.

[2017-09-19 15:54] #81 closed

[2017-09-19 16:14] erictleung commented on #7
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/79.

[2017-09-19 16:14] #7 closed

[2017-09-19 20:38] namratab94 commented on #38
Hello,
Is anyone working on this?

[2017-10-01 06:33] shovanch commented on #16
Hi, is anyone working on this?

[2017-10-23 16:17] ShirazSuleman opened #94 "Add new contributors article"
Hi, I found a really useful guide for new open source contributors (https://github.com/collections/choosing-projects) and thought it would fit under the "Useful articles for new open source contributors" section.

If you guys agree, I'd like to add it :)

[2017-10-25 03:34] Puugu commented on #94
I thought it looked really helpful, so I went ahead and added it (getting points for Hacktoberfest!!) Thanks for the article. It was a good read.

[2017-10-25 06:11] ShirazSuleman commented on #94
That sucks man, it is literally what I wanted to do hence me mentioning it in the initial issue.

[2017-10-25 13:31] Puugu commented on #94
My bad, Shiraz. I totally misunderstood. I thought if you wanted to add it, you would have added it in your own pull request. I thought you were trying to help out other people who were trying to learn pull requests and offered it as a suggestion.

Were you just submitting it to contribute, or were you trying to accomplish some sort of goal? I'd love to try to help you find something to make it up

[2017-10-25 17:04] ShirazSuleman commented on #94
I wanted to add it but am new to contributing and was told to create an issue requesting the change to get confirmation that I can go ahead. I'm also trying to get pull requests for Hacktoberfest.

[2017-10-26 04:33] Puugu commented on #94
Well, I found this article:
https://opensource.guide/how-to-contribute/
That I was going to contribute, but I feel like I owe you one, so I'll leave it in your hands.

I'd also recommend this repository for Hacktoberfest:
https://github.com/AliceWonderland/hacktoberfest
You can do each of the challenges as a separate pull request if you want.
I also found this one to be helpful for explaining the

[2017-10-26 04:53] erictleung commented on #28
Closed by #86.

[2017-10-26 04:53] #28 closed

[2017-10-26 05:33] ShirazSuleman commented on #94
Thanks but that article is already in the README.md. Will take a look at the other links though.

[2017-10-26 18:13] erictleung commented on #94
@ShirazSuleman thanks for suggesting this article! This was already suggested in a PR made before you created this issue https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/90. I'm waiting on them to format it. If they don't work on it by next week, then you or someone else can take it over.

[2017-10-29 18:43] #94 closed

[2017-10-29 19:26] erictleung opened #119 "Add every day git commits to git section"
giteveryday - A useful minimum set of commands for Everyday Git

https://git-scm.com/docs/giteveryday

To whoever picks up this issue, please include `Closes #119` in your pull request message so that it references back to this issue.

[2017-10-30 05:41] sblasa commented on #119
@erictleung Hi, I’d like to help on this.

[2017-10-30 19:16] erictleung commented on #119
@sblasa thanks for the interest! It looks like you've contributed before and I'd like to keep this issue open for new contributors. I hope you understand.

[2017-11-01 03:05] erictleung opened #121 "Add table of contents"
Add this just above the first section "Contributing to open source in general"

[code]

It should produce something like this

**Table of Contents**

- [Contributing to open source in general](#contributing-to-open-source-in-general)
- [Direct GitHub searchs](#direct-github-searchs)
- [Mozilla's contributor ecosystem](mozillas-contributor-ecosystem)
- [Useful articles for new open source contribut

[2017-11-01 14:22] jj-owens commented on #121
Since this looks like it's still open, I'll work on it!

[2017-11-03 19:17] erictleung commented on #121
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/122

[2017-11-03 19:17] #121 closed

[2017-11-05 05:59] isaacwagithub commented on #119
Hey erictleung. I'm a first timer and I would trike to help

[2017-11-05 06:00] isaacwagithub commented on #119
Oooops! Like to help not trike

[2017-11-05 17:15] erictleung commented on #119
@isaacwagithub go for it! In your pull request message, add in `Closes #119` so that it can be traced back to this issue. Thanks!

[2017-11-07 00:24] erictleung opened #125 "Add Flight rules for git in Version Control Section"
Link: https://github.com/k88hudson/git-flight-rules

To whoever picks this up, please add `Closes #125` to your pull request message so that it links back to this issue.

[2017-11-08 16:54] erictleung opened #126 "Add Open Source Guides for the Enterprise"
Add to contributing to open source in general

https://www.linuxfoundation.org/resources/open-source-guides/

To whoever takes this up, add `Closes #126` to your pull request message so that it'll reference back to this issue.

[2017-11-13 12:35] mrduguid commented on #126
Hello erictleung. I would like to have a go at this one.

[2017-11-16 00:35] erictleung commented on #126
@mrduguid go for it! Let me know if you have any questions about contributing. Feel free to visit the [contributors](https://gitter.im/FreeCodeCamp/Contributors) chat room for help if needed.

[2017-11-20 20:16] #126 closed

[2017-12-02 03:39] Nikz56 opened #130 "Keyboard software that types by reading the character"
I have thought to make a key board software that types on itself after reading character inputs as image or text.if we can give image as input and the software recognizes the text and type it automatically.

[2017-12-09 08:53] StellarDoor5319 opened #132 "Add Casualdate"
Label: https://github.com/StellarDoor5319/casualdate/labels/good%20first%20contribution
Contribution guide: https://github.com/redfin/react-server/blob/master/CONTRIBUTING.md
Docs: http://www.rubydoc.info/github/StellarDoor5319/casualdate

[2017-12-09 08:54] StellarDoor5319 commented on #132
I'm still writing the CONTRIBUTING file - it might not get pushed for half an hour or so

[2017-12-18 23:06] erictleung commented on #38
Closed by #133.

[2017-12-18 23:06] #38 closed

[2017-12-26 01:46] guipaes commented on #125
@erictleung Hi, I'd like to help with this issue.

[2017-12-26 18:53] erictleung commented on #125
@guipaes go for it! It should be added to the git and version control section. Let us know in the [contributors](https://gitter.im/FreeCodeCamp/Contributors) Gitter room if you have any questions.

[2017-12-28 15:10] #125 closed

[2018-01-01 13:21] vikramnr commented on #32
@erictleung  I will add this.

[2018-01-02 08:21] erictleung commented on #32
@vikramnr please add them to the [PROJECTS.md](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/PROJECTS.md) file.

[2018-01-05 02:11] erictleung commented on #130
@Nikz56 thanks for letting us know! However, please leave these issues for contributing useful links to projects to contribute to or include resources to help others contributing to open source. Happy coding!

[2018-01-05 02:11] #130 closed

[2018-01-05 02:13] erictleung opened #135 "Add "An Open Source Etiquette Guidebook""
Add to contributing to open source in general.

https://css-tricks.com/open-source-etiquette-guidebook/

[2018-01-05 11:07] kkavita92 commented on #135
Happy to do this - do you want it as a README in the project folder?

[2018-01-05 14:45] vikramnr commented on #32
@erictleung  Have created PR.

[2018-01-05 17:44] erictleung commented on #135
@kkavita92 thanks for your interest! Yes, I was thinking of putting it in the main README file under ["Contributing to open source in general"](https://github.com/freeCodeCamp/how-to-contribute-to-open-source#contributing-to-open-source-in-general). Let me know if you have other questions. Thanks!

[2018-01-05 19:49] erictleung opened #137 "Add time length to "GitHub Flow""
Add time length to video link to indicate how long video is. Add to the effect of

[code]

[2018-01-05 19:50] erictleung opened #138 "Update description of link to be more accurrate"
Update the Try Git link description to mention it takes 15 minutes to finish, something like

[code]

**Source**:

![image](https://user-images.githubusercontent.com/2754821/34625722-a813492a-f20e-11e7-81f4-f8c2a37c88d9.png)

[2018-01-06 06:52] KrUciFieR-Jr commented on #137
Hey, @erictleung I am interested in starting my Open Source Venture can you please guide with this issue.

[2018-01-06 10:24] #137 closed

[2018-01-06 10:24] #138 closed

[2018-01-09 13:27] shreyateeza commented on #27
Hi @doug-wade ! Can you please explain me what to do here? I would like to work on this.

[2018-01-09 13:59] systimotic commented on #27
Hi @shreyateeza! I think the idea is to add these links to the [PROJECTS.md](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/PROJECTS.md)

[2018-01-09 19:35] erictleung commented on #27
@shreyateeza yes, as @systimotic mentioned, we've moved these project links to the PROJECTS.md file. Take a look at the linked file above for examples of how to format these. I've been meaning to go through these issues and make them more clear as to what needs to be done but haven't gotten around to it yet :sweat_smile:

[2018-01-10 17:35] karthicktv commented on #12
@shovanch are you still going to work on this? what's your plan?

[2018-02-15 11:26] ProcrastinatorCp commented on #119
@isaacwagithub  Hi, are you still working on it ? If not, I would like to contribute.
If it's already solved, please close this.
Please let me know. Thanks

[2018-02-15 15:12] erictleung commented on #119
@ProcrastinatorCp thanks for checking in! I would go ahead and take it up if the individual doesn't respond by the end of the weekend. Thanks for your interest!

[2018-02-20 03:39] ProcrastinatorCp commented on #119
@erictleung , Could you please review https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/140

[2018-02-20 05:56] #119 closed

[2018-02-20 20:01] seafr opened #141 "Add PublicLab"
Public Lab (org)
- [Plots2](https://github.com/publiclab/plots2) (project)
  - [Contributing guide](https://github.com/publiclab/plots2/blob/master/CONTRIBUTING.md)
  - Issue labels:
    - [first-timers-only](https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3Afirst-timers-only)
    - [help-wanted](https://github.com/publiclab/plots2/issues?q=is%3Aissue+is%3Aopen+label%3Ahelp

[2018-05-22 16:48] karuna24s commented on #135
Hi @erictleung and @kkavita92! @kkavita92 are you still working on this issue if not can I work on it?

[2018-05-23 22:06] erictleung commented on #135
@karuna24s I'd say you're free to work on this! Enough time has passed that I think it would be okay to pick up now. Good luck!

[2018-05-23 22:11] karuna24s commented on #135
Thanks @erictleung I will work on it.

[2018-05-24 01:10] cameocodes commented on #141
Happy to take this one on if it's still available.

[2018-05-25 19:55] #135 closed

[2018-05-27 05:44] erictleung commented on #141
@cameocodes go for it! This should go into the [PROJECTS.md](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/PROJECTS.md) file. Let me know if you have any questions. Thanks!

[2018-06-25 13:39] shubheksha commented on #15
@0110G - Feel free to pick it up!

[2018-06-30 05:32] 94151 commented on #9
@shubheksha is this issue still open? Can i start work on it?

[2018-07-04 16:00] AbiSadhasivam commented on #29
@coni2k  :  Is it still open? If yes, Can I take it up?

[2018-07-04 17:04] coni2k commented on #29
@AbiSadhasivam Yes, you can follow the article and send your PR. If you will have any questions and/or anything unclear, please feel free to send a message Good luck! :)

[2018-07-17 23:22] erictleung opened #145 "Add "Software Release Practice HOWTO""
Link: http://en.tldp.org/HOWTO/Software-Release-Practice-HOWTO/

Add to the Open Source books section.

[2018-07-18 19:35] Neidley commented on #145
May I claim this issue?

[2018-07-18 21:50] erictleung commented on #145
@Neidley go for it! Let me know if you have any issues submitting a pull request.

[2018-07-18 23:49] Neidley commented on #145
PR #146

[2018-07-22 07:11] Neidley commented on #145
Should be good now :) Thanks for letting me work on this issue!

[2018-07-23 04:06] erictleung commented on #145
@Neidley nice job with the PR and taking time to put back the original styling of the file. Not sure why this issue didn't auto close because of those issue closing keywords. I guess those only work in the original first commit? Anyways, thanks for contributing! Closing this issue as fixed.

[2018-07-23 04:06] #145 closed

[2018-08-13 19:10] arshadkazmi42 commented on #141
is it still open? Would like to take this up

[2018-08-13 20:50] erictleung commented on #141
@arshadkazmi42 looks like it is, feel free to contribute this to the projects file. Within the pull request, please put `Closes #141` in the message body so that it references this issue. Thanks!

[2018-08-14 04:12] arshadkazmi42 commented on #141
Awesome. Will take this up. And I will add the reference to the issue too 👍

[2018-08-14 05:49] #141 closed

[2018-08-15 11:26] sdabhi23 commented on #27
Can I take this up @systimotic?

[2018-08-15 19:15] erictleung commented on #27
@sdabhi23 go for it!

[2018-08-16 15:41] sdabhi23 opened #148 "Restructure PROJECTS.md"
Despite of dead simple instructions in [CONTRIBUTING.md](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/CONTRIBUTING.md) to list the projects and orgs in alphabetical order, it looks like the contributors haven't followed them.

I would like to propose restructuring of the file before it's get's so very large, that it becomes tedious to do so.

[2018-08-16 17:12] #27 closed

[2018-08-18 14:07] sdabhi23 commented on #148
@erictleung I would like to take this up

[2018-08-22 16:52] erictleung commented on #9
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/150

[2018-08-22 16:52] #9 closed

[2018-08-23 08:11] pawgrmr commented on #132
Hi Eric, could I get some clarification on what needs to be done? It's my first open-source contribution attempt so some guidance would be much appreciated :)

[2018-08-23 08:48] pawgrmr commented on #132
Hi @erictleung I've just submitted a PR for this issue. Could you please review and let me know if I'm on the right track? Thanks!

[2018-08-24 00:03] erictleung commented on #132
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/151

[2018-08-24 00:03] #132 closed

[2018-09-14 02:14] erictleung opened #153 "Add Think Like (a) Git to version control section"
Link: http://think-like-a-git.net/

Add:

[code]

[2018-09-14 09:29] ravk1234 commented on #153
Can I try this?

[2018-09-14 09:31] ravk1234 commented on #153
In which file do I have to do this?

[2018-09-14 10:11] shubheksha commented on #153
@ravk1234, sure, go ahead!
This is the file that needs to be changed: https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/README.md#using-version-control

[2018-09-14 12:35] ravk1234 commented on #153
how to submit pull request for this issue?

[2018-09-14 12:52] ravk1234 commented on #153
I tried pull rquest but travis ci failed

[2018-09-14 13:05] ravk1234 commented on #153
In    ## Useful articles for new open source contributors
   www.nearform.com/nodecrunch/first-time-with-open-source
This link is not working . That is why Travis CI build failed. Should I remove this link?

[2018-09-14 14:59] #153 closed

[2018-09-14 15:01] erictleung opened #155 "Replace broken link in README.md"
Use the new text found in the second line of the code block below. You'll want to edit the [`README.md`](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/README.md) file of this repository.

[code]

Put in your PR message body the following to target and reference back to this issue.

[code]

[2018-09-14 19:20] #155 closed

[2018-09-15 05:06] ravk1234 commented on #29
Is it still open?

[2018-09-15 05:14] ravk1234 commented on #32
Is the issue still open?

[2018-09-15 05:17] ravk1234 commented on #26
Can I solve this issue?

[2018-09-15 06:18] coni2k commented on #29
@ravk1234 yes, it's still open. Please feel free if you want to send a PR

[2018-09-18 02:17] erictleung commented on #26
@ravk1234 are you referring to [this PR](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/157)? If so, you've closed it yourself.

But I'd kindly ask that you let others contribute and fix this issue for two reasons. Your PR looks like it has some extra commits that will need to be fixed on the command line. And second, this issue is reserved for first-time contributors so tha

[2018-10-02 14:03] kumarrajan4264 commented on #25
Is the issue still open?
which links I have to add?

[2018-10-04 02:05] erictleung commented on #25
@kumarrajan4264 whoops. Looks like I forgot to close this when I merged in #71, which fixes this issue. Take a look at the other issues in the repository for other issues you can work on. Happy coding!

[2018-10-04 02:05] #25 closed

[2018-10-07 14:02] arshadkazmi42 commented on #18
working on this

[2018-10-07 22:19] #18 closed

[2018-10-08 16:21] KanchanThareja opened #176 "Javascript open source projects"

[2018-10-08 17:20] shubheksha commented on #176
@KanchanThareja, could you elaborate a little more on what you want to add?

[2018-10-10 13:17] sdabhi23 opened #177 "CI builds failing"
Currently all Travis builds are failing due to a broken link.

[FreeCodeCamp/FreeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp) have deleted  their `staging` branch and the link to `CONTRIBUTING.md` refers to the file on the staging branch.

### Solution
Change the link to refer to `CONTRIBUTING.md` on the master branch.

[2018-10-10 18:43] erictleung commented on #177
This should be the correct link for whoever wants to pick this up:

https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md

[2018-10-10 18:55] #13 closed

[2018-10-10 19:48] anabellaspinelli commented on #177
Hey! Can I take this? :)

[2018-10-10 22:05] shubheksha commented on #177
Sure, go ahead!

[2018-10-11 22:11] erictleung commented on #177
Closing issue as fixed by #179.

[2018-10-11 22:11] #177 closed

[2018-10-17 15:40] CristyTarantino commented on #6
Is this issue still relevant? Would it be possible to have some more details?

[2018-10-20 21:34] schandan696 commented on #12
Hey can i add PR for Docker or anyone working.?

[2018-10-22 22:42] erictleung commented on #6
@CristyTarantino yes, this can still be worked on!

The file you want to edit is [this one](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/PROJECTS.md) and the "code" you'll want to add is:

[code]

[2018-10-23 15:03] CristyTarantino commented on #6
@erictleung I will make a pull request then. Thank you so much for the opportunity.

[2018-10-23 18:35] shubheksha commented on #6
Closed in #217

[2018-10-23 18:35] #6 closed

[2018-10-24 18:49] KittyBot opened #222 "Add Fly"
Hello :)

- [Fly.io (org)](https://github.com/superfly/fly)
  - [readme](https://github.com/superfly/fly/blob/master/README.md)
  - [contributing guide](https://github.com/superfly/fly/blob/master/CONTRIBUTING.md)
  - [open issues](https://github.com/superfly/fly/issues)

[2018-10-25 02:22] JoelLau commented on #222
/claim

[2018-10-26 03:39] #12 closed

[2018-10-26 03:56] erictleung opened #230 "Create section on open source contribution initiatives"
Create a new section in the `README.md` labeled `Open source contribution initiatives`.

[code]

And add this to the table of contents.

[code]

Some of the content that can go in there that already exist in the README are:

- Up for Grabs
- First Timers Only
- First Contributions

And this can be added new as well:

- [Hacktoberfest](https://hacktoberfest.digitalocean.com/)

[2018-10-26 04:01] erictleung commented on #11
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/220

[2018-10-26 04:01] #11 closed

[2018-10-26 04:04] erictleung commented on #14
Closed by #221

[2018-10-26 04:04] #14 closed

[2018-10-26 05:16] p-murli commented on #230
Hey, I've added the following changes and created a PR. Could you review it and check if its all good?

[2018-10-30 16:42] erictleung commented on #230
Closed by #231

[2018-10-30 16:42] #230 closed

[2018-10-30 17:15] #222 closed

[2018-11-16 19:43] erictleung commented on #176
Closed as stale. Happy coding!

[2018-11-16 19:43] #176 closed

[2018-12-31 23:06] erictleung opened #263 "Replace Nearform broken link with working one"
Replace this unreliable and outdated link

[code]

under the "Userful articles for new open source contributors" with the following working one

[code]

This needs to be changed in all the `README` files

- `README.md`
- `README-IT.md`
- `README-RO.md`
- `README-RU.md`

[2019-01-01 10:31] alpha-gamma commented on #263
Created PR

[2019-01-02 10:44] erictleung commented on #263
Fixed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/264

[2019-01-02 10:44] #263 closed

[2019-01-22 08:25] zhirui1994 opened #266 "Translate to Chinese"
Thanks for open source to this. But for chinese, like me, somewhere it is hard for us to understand. So, I want a chinese translate base to this source.
And, I'll also do my best to translate this source to chinese.
Can some one help me?

[2019-01-22 18:35] erictleung commented on #266
@zhirui1994 thanks for your enthusiasm to contribute!

We welcome translations of other languages. Please name the new file `README-CN.md`. Can you be more specific on what kind of help you need? Have you made a pull request before? Or do you just need more specifics on contributing to this repository? Thanks!

[2019-01-26 10:00] cc189 commented on #266
Sounds like a good idea, I'd love to join this idea

[2019-01-30 03:17] zhirui1994 commented on #266
@erictleung Thanks for your reply. sure, I have a Pull Request about this, #269 .  I get get stuck in it . The Travis CI build failed,  but I don't know where‘is in it. Can you help me about it? Thanks!

[2019-01-30 19:40] erictleung opened #270 "Add "The Definitive Guide to Contributing to Open Source""
Add to the "Useful articles for new Open Source contributors" section

Article: https://medium.freecodecamp.org/the-definitive-guide-to-contributing-to-open-source-900d5f9f2282

Add

[code]

so that is appears as

- [The Definitive Guide to Contributing to Open Source](https://medium.freecodecamp.org/the-definitive-guide-to-contributing-to-open-source-900d5f9f2282) by [@DoomHammerNG](https://twitt

[2019-01-31 16:52] AntiZERO commented on #270
I'm not at my computer at this moment but I'd like to claim this one if possible.

[2019-02-02 11:39] jyothisankarreddy commented on #270
Hi, I can help.

[2019-02-03 12:01] MohammadHeydari commented on #270
i can help

[2019-02-03 21:15] erictleung commented on #270
@jyothisankarreddy @MohammadHeydari thanks for your enthusiasm. But this issue already has a pull request here https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/271. Please take a look at the other issues for other opportunities to contribute. Happy coding!

[2019-02-04 01:06] #270 closed

[2019-02-06 14:58] bismarkhenao opened #272 "Fix typo on The Definitive Guide to Contributing to Open Source link"
[Link](https://medium.freecodecamp.org/the-definitive-guide-to-contributing-to-open-source-900d5f9f2282) I'm trying to create a PR but it's not possible. Thanks 👍

[2019-02-06 17:49] erictleung commented on #272
@bismarkhenao thanks for catching this :+1:

Can you elaborate on what issues you're running into when creating a PR? I can try to help.

[2019-02-07 09:48] ayanujju commented on #44
Can I work on this issue ?

[2019-02-07 11:08] bismarkhenao commented on #272
@erictleung np 👍

I can push the changes in a new PR, seems an authentication issue. Neither SSH nor HTTPS works

[2019-02-07 12:08] bismarkhenao commented on #272
@erictleung It's my first time as contributor, I found that all the PRs need to be done from the fork to the original. Now I've created the PR and linked with this issue.

Thanks! 👍

[2019-02-07 14:01] bismarkhenao opened #275 "Add README-ES.md"
Would be great to have it translated to Spanish

[2019-02-07 20:39] willamesoares opened #277 "Add direct links to README in available languages"
What do people think about adding links to the different versions of README?

Something like adding "You can also read this in {language}" to the main README in all languages available.
I know you can access a README in a different language just by opening the file in the file tree but this is more like explicitly telling readers that we have those languages available.

Let me know if this is usef

[2019-02-07 20:41] willamesoares opened #278 "Add README-PT.md (ptBR) file"
I can work on this ;)

[2019-02-07 22:24] bismarkhenao commented on #5
I can work on this :)

[2019-02-07 22:28] bismarkhenao commented on #8
@erictleung should be closed this issue?

[2019-02-07 22:39] bismarkhenao commented on #275
I've started working on this :)

[2019-02-08 19:21] #26 closed

[2019-02-08 19:21] #272 closed

[2019-02-09 01:19] erictleung commented on #277
@willamesoares just merged in a PR that does just this https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/269 :smiley: Check out the [README](https://github.com/freeCodeCamp/how-to-contribute-to-open-source) now. Happy coding!

[2019-02-09 01:19] #277 closed

[2019-02-09 01:20] erictleung commented on #8
@bismarkhenao yes, thanks for the heads up.

[2019-02-09 01:20] #8 closed

[2019-02-09 01:21] erictleung commented on #266
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/269

[2019-02-09 01:21] #266 closed

[2019-02-10 18:30] bismarkhenao commented on #32
@erictleung this one was merged on #136

[2019-02-10 19:01] bismarkhenao commented on #17
[Camp project](https://github.com/hoodiehq/camp) does not have any CONTRIBUTING.md file

[2019-02-10 19:38] bismarkhenao opened #285 "Add ab-results-*.json to .gitignore"
results files created by `awesome_bot` running `npm test`

[2019-02-11 05:37] willamesoares commented on #278
@erictleung oppened a PR for this #287 . Thanks! ;)

[2019-02-12 17:30] erictleung commented on #32
@bismarkhenao thanks! :)

[2019-02-12 17:30] #32 closed

[2019-02-13 18:16] #278 closed

[2019-02-13 18:20] erictleung commented on #5
To those who haven't contributed before to this repository or are wanting to get more comfortable contributing, please take a look at #280 for an example of what is needed for this issue.

[2019-02-13 18:21] erictleung commented on #15
To those who haven't contributed before to this repository or are wanting to get more comfortable contributing, please take a look at #283 for an example of what is needed for this issue.

[2019-02-13 18:22] erictleung commented on #16
To those who haven't contributed before to this repository or are wanting to get more comfortable contributing, please take a look at #281 for an example of what is needed for this issue.

[2019-02-13 18:24] #285 closed

[2019-02-13 18:30] erictleung commented on #19
To those who haven't contributed before to this repository or are wanting to get more comfortable contributing, please take a look at #284 for an example of what is needed for this issue.

[2019-02-13 18:30] erictleung commented on #17
To those who haven't contributed before to this repository or are wanting to get more comfortable contributing, please take a look at #282 for an example of what is needed for this issue.

[2019-02-13 18:31] #275 closed

[2019-02-13 18:35] erictleung opened #289 "Fix README tables in non-English README files"
Only the English `README` contains the link to the Spanish README.

So each of the non-English READMEs need the following change.

[code]

The files that need changing:

- [`README-CN.md`](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/README-CN.md)
- [`README-RU.md`](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/README-RU.md)
- [`README

[2019-02-13 19:28] marieram commented on #289
Hi @erictleung, I'd like to work on this. Are you stating that the "Espanol" line needs to be added to the files listed?

[2019-02-13 19:55] erictleung commented on #289
@marieram hello! Yes, the "Español" lines needs to be added to all of the listed files.

For example, if you look at the English README, you see

![image](https://user-images.githubusercontent.com/2754821/52739544-022ae700-2f86-11e9-9af5-1ce28f254326.png)

But if you look at the `README-RO.md` file, you see

![image](https://user-images.githubusercontent.com/2754821/52739590-1bcc2e80-2f86-11e9-8c2

[2019-02-14 03:40] #289 closed

[2019-02-14 03:43] erictleung opened #291 "Add table referencing other languages in the Spanish README-ES.md"
All of the other languages have a table at the top of it referencing different languages.

![](https://user-images.githubusercontent.com/2754821/52739544-022ae700-2f86-11e9-9af5-1ce28f254326.png)

But the Spanish README doesn't have this table at all.

So this needs to be added to the top of the [`README-ES.md`](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/README-ES

[2019-02-14 03:57] marieram commented on #291
@erictleung Can I work on this one?

[2019-02-14 04:40] erictleung commented on #291
@marieram sure, go for it! I noticed this when making the last issue you helped out with.

Just a tip for making pull requests on GitHub, you can add `Closes #291` in your pull request body message to reference this specific issue and also automatically close it when it is merged. You can read more [about it here](https://help.github.com/articles/closing-issues-using-keywords/). Good luck!

[2019-02-15 05:41] #291 closed

[2019-03-03 00:48] erictleung opened #297 "Update README translation tables with German file"
There was a new language added to the list of READMEs. This language, German, needs to be added to the table.

In other words, this is the change that needs to be made to all `README-*.md` and `README.md` files.

[code]

[2019-03-03 00:50] erictleung opened #298 "Help with the Greek translation of README"
There's an ~~open~~ closed pull request for translating the `README.md` file into Greek https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/235.

~~Please see that pull request if you are interested in helping out with that translation. Feel free to discuss changes here or at the pull request.~~ I've merged that pull request so that others can continue to contribute to it. Feel f

[2019-03-03 13:18] peterhuerlimann commented on #297
Hi @erictleung,
I opened pull request #299 with the changes.
As the other languages were localized in their own, I figured to add it in german, "Deutsch" instead of "German".

[2019-03-04 06:18] erictleung commented on #297
Closed by #299

[2019-03-04 06:18] #297 closed

[2019-03-04 06:19] erictleung commented on #297
@peterhuerlimann good call on localizing it in its own language :+1:

[2019-03-04 16:54] elgaspar commented on #298
Hello, i would like to help with translating. May I?

[2019-03-04 21:06] erictleung commented on #298
@elgaspar sure! I've merged the PR already, so you just need to make changes from that file. If you do make a pull request, please refer to this issue by writing `#298` in the pull request message. Let me know if you have any other questions.

[2019-03-21 21:56] erictleung commented on #298
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/300

[2019-03-21 21:56] #298 closed

[2019-03-21 21:58] erictleung opened #301 "Replace broken link"
Broken link:
https://medium.com/@kentcdodds/first-timers-only-78281ea47455

Working link:
https://kentcdodds.com/blog/first-timers-only

[code]

All `README` files need to be fixed (I believe all of them have this broken link).

[2019-03-21 22:54] preludek commented on #301
I would like to take this issue.

[2019-03-22 00:00] erictleung commented on #301
@preludek go for it! Be sure to add `Closes #301` in the pull request message body.

[2019-03-25 15:38] #301 closed

[2019-04-26 01:46] erictleung opened #305 "Add git-tips to Using Version Control section"
Add this link to the Using Version Control section

https://github.com/git-tips/tips

along with a sensible description, like the one from the repository:

[2019-04-26 01:51] erictleung opened #306 "Add complementary Dangit, git! site"
There is already [Oh shit, git!](http://ohshitgit.com/) in the README, but there is a exact copy of the site without the subjectively offensive word.

So add this site along site the above link http://dangitgit.com/

It can be something like this

[code]

[2019-04-26 02:23] huytn12 commented on #305
claimed this

[2019-04-26 07:19] AkankshaGupta97 commented on #306
I would like to do it.

[2019-04-28 22:27] erictleung commented on #306
Closed by  https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/307

[2019-04-28 22:27] #306 closed

[2019-04-28 22:28] erictleung commented on #306
@AkankshaGupta97 thanks for your interest! Unfortunately, someone else already made a pull request for this. Feel free to take a look at the other issues so other opportunities. Happy coding!

[2019-04-28 22:46] erictleung commented on #305
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/310

[2019-04-28 22:46] #305 closed

[2019-05-02 23:04] kevjin opened #312 "Travis CI builds failing from broken link"
All Travis CI builds are failing [and have been since March 21st](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pulls?q=is%3Apr+is%3Aclosed). This has happened before, see #177, although the root cause might be different, I haven't investigated it.

[2019-05-03 13:21] erictleung commented on #312
Nice catch.

The problem is that this link

[code]

is broken in the `PROJECTS.md` file and needs to be replaced with

[code]

This is up for grabs for anyone who wants to take this on. Just be sure to reference this issue for whoever picks this up by adding `Closes #312` in your pull request message.

[2019-05-03 23:34] kevjin commented on #312
Just opened a fix above, thanks!

[2019-05-23 00:58] #312 closed

[2019-05-28 08:05] erictleung opened #316 "Remove broken Waffle.io link in PROJECTS.md"
There is a broken link in the [`PROJECTS.md`](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/PROJECTS.md) file that needs to be removed.

[code]

More directly, [this line here around Line 52](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/PROJECTS.md#L52) needs to be deleted.

This is because [Waffle.io](https://help.waffle.io/waffle-shu

[2019-05-28 11:50] sumanismcse commented on #316
Can i work on this issue?

[2019-05-28 12:31] PoseidonSigmaX commented on #316
Pull Request created.

@sumanismcse I might be wrong on this, but in most cases I don't think you need to ask for permission unless they specifically ask you to claim the issue first.

[2019-05-28 12:41] sumanismcse commented on #316
Ok thanks @PoseidonSigmaX .. I didn't know.

[2019-05-29 17:26] Pandorandom commented on #15
Hi @erictleung, I have taken a stab at this issue, and created pull request #320 . If I have broken some etiquette, please let me know and I am happy to make any corrections.

[2019-05-29 20:32] erictleung commented on #316
@sumanismcse @PoseidonSigmaX @tudoranghelina91 thanks for all of your enthusiasm for contributing!

@PoseidonSigmaX typically when contributing, it is courteous to check if the repository you're contributing to has a `CONTRIBUTING.md` file. This repository happens to have one [here](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/CONTRIBUTING.md#submitting-a-pull-reque

[2019-05-29 20:32] #316 closed

[2019-05-29 20:38] erictleung commented on #15
@Pandorandom all is well my friend! I've taken a look at and approved it. I edited it a little bit because the link you used was a little different that the suggested link above, which was difficult to read.

Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/320

[2019-05-29 20:38] #15 closed

[2019-06-01 20:05] pdurbin commented on #44
@ayanujju I see that @erictleung added a "help wanted" label so I assume it's fine for you (or others reading this) to work on this issue. :smile:

[2019-06-05 02:46] lyndel2 commented on #44
Hi  there , Please can I contribute to this issue?

[2019-06-05 15:48] erictleung commented on #44
@lyndel2 thanks for commenting! Yes, feel free to take on this issue. Let us know if you have any or need any help contributing :+1:

[2019-09-13 18:35] erictleung opened #326 "Add Drasner's article on how to contribute to open source"
Link: https://css-tricks.com/how-to-contribute-to-an-open-source-project/

This can probably go under the "Contributing to Open Source in general" section.

[2019-09-14 04:13] sanjeev0007 commented on #326
can you please check why the changes are not accepted ?

[2019-09-19 02:23] erictleung opened #328 ""Commit Often, Perfect Later, Publish Once: Git Best Practices""
Add the link below to the version control section

https://sethrobertson.github.io/GitBestPractices/

[2019-10-02 03:32] m2paulc commented on #326
Hello! Is this issue still open? Can I help to add this link?

[2019-10-02 06:12] amritanshu00 commented on #326
#343 Hey, I added the link.

[2019-10-02 17:47] erictleung commented on #326
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/329

[2019-10-02 17:47] #326 closed

[2019-10-02 17:49] #328 closed

[2019-10-04 15:36] rharill commented on #16
I will work on this

[2019-10-05 05:56] #16 closed

[2019-10-21 10:49] Bam92 opened #363 "Hacktoberfest requires 4 PRs only"
Hi!

On the date of today to be qualified for Hacktoberfest you only need to have at least 4 PRs not 5.

https://hacktoberfest.digitalocean.com/

[2019-10-21 18:19] erictleung commented on #363
@Bam92 thanks for catching this. Looks like they've changed in from their past offer.

[2019-10-21 18:22] erictleung opened #364 "freeCodeCamp git resource page link needs to be updated"
This change needs to be made, remove the top link and exchange it with the next one:

[code]

[2019-10-21 19:58] studiozandra commented on #364
I'd like to try this! I've cloned and am reading the instructions.

[2019-10-21 20:45] #364 closed

[2019-10-21 22:00] jaherche commented on #363
I would like to work on this for the english README.md if it is still available.

[2019-10-21 22:11] jaherche commented on #363
I have submitted a PR for this issue. This is my first (ever), so I am glad to take any and all feedback.

[2019-10-21 22:43] #363 closed

[2019-11-26 12:27] DeVil2O commented on #44
Is this issue has solved out or can I take this issue?

[2019-11-26 12:51] pdurbin commented on #44
@DeVil2O I believe you can take this issue. Thanks!

[2019-11-26 19:33] DeVil2O commented on #44
@pdurbin Ok.

[2019-12-01 19:41] DeVil2O opened #383 "List of Open Source Internships"

[2019-12-02 11:48] #383 closed

[2019-12-09 17:59] Opinion commented on #17
I'll give it a shot @erictleung

[2019-12-10 05:46] erictleung commented on #17
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/385

[2019-12-10 05:46] #17 closed

[2019-12-18 17:36] kaliomar opened #386 "Translate ReadMe to Arabic"
I want to make an Arabic README.md.

[2020-01-22 22:09] erictleung commented on #386
@kaliomar go for it! Take a look at the other translations in this repository for examples of how to format things. Also, I do not know Arabic, so after you've created a pull request to this repository, try to get someone else who knows Arabic to review your translation.

Please name this new translation file `README-AR.md`. Feel free to post any questions here! Good luck!

[2020-01-22 22:11] erictleung opened #387 "Add GitHub's blog post on using GitHub to find good first issues"
Add this link

https://github.blog/2020-01-22-browse-good-first-issues-to-start-contributing-to-open-source/

to the "Contributing to Open Source in general" section.

[2020-01-27 19:55] erictleung commented on #387
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/388

[2020-01-27 19:55] #387 closed

[2020-02-22 02:58] samrith-s opened #389 "Nodehawk: Testing, feedback and examples"
Hey,

I have a project called Nodehawk.

https://github.com/samrith-s/Nodehawk

I’m looking for people to test it out and give feedback on it. Also for people who can spin up simple examples!

Do try it out and respond here or create an issue, and I’d be happy to entertain any questions and welcome any contributions or ideas!!

[2020-02-22 03:00] samrith-s commented on #389
Labels: Newbie friendly, help wanted

[2020-04-16 08:29] pawki07 commented on #44
Hey there! Can I contribute to this project.

[2020-04-20 21:57] FarukCihan opened #391 "-"

[2020-04-20 22:25] #391 closed

[2020-05-01 03:53] erictleung commented on #44
@pawki07 thanks for your interest! This issue was unclear in the past because there was no projects file to contribute to. We have one right now. I will update the CONTRIBUTED.md file for more information on this file instead of relying on this issue here. Happy coding!

[2020-05-01 03:53] #44 closed

[2020-05-01 15:18] erictleung opened #393 "Broken links in CONTRIBUTING failing Travis"
In our [`CONTRIBUTING.md` file](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/CONTRIBUTING.md), there are some links that are being read into our link checker to make sure it is valid. However, I put in dummy links for an example.

![Image of three links failing Travis tests](https://user-images.githubusercontent.com/2754821/80815690-fa536480-8b82-11ea-9f98-e7d83b81f

[2020-05-01 15:53] erictleung opened #394 "HTTP 502 error in Travis"
One link in the [`README-CN.md` file](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/README-CN.md) is causing an issue.

![Image of broken link in Travis with 502 error](https://user-images.githubusercontent.com/2754821/80818688-87e58300-8b88-11ea-917d-0d0e189e5257.png)

I think the easiest way to deal with this is to add `502` to our "acceptable" responses. I don't i

[2020-05-01 16:14] Uneetpatel7 commented on #394
Hello! I am new to open source. I would love to pick this up

[2020-05-02 01:58] erictleung commented on #394
@Uneetpatel7 great! It's yours. Let me know if you have questions or need help making the change.

[2020-05-02 06:35] Uneetpatel7 commented on #394
Please check the PR! @erictleung

[2020-05-02 15:42] geek-2002 commented on #19
can i work on this issue

[2020-05-03 04:44] erictleung commented on #394
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/395

[2020-05-03 04:44] #394 closed

[2020-05-03 04:46] erictleung commented on #19
@geek-2002 you already have a pull request open https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/390. I would say to complete that and leave this issue for another person to work on. I hope you understand. Let me know if you have any questions on that other pull request.

[2020-05-04 11:37] rajat641 commented on #389
Hi Samrith,
I can take this task and help on this.

[2020-05-04 11:38] rajat641 commented on #393
Hi Eric,
I can take this task.

[2020-05-04 21:39] erictleung commented on #393
@rajat641 sorry, but it looks like someone else has already created a pull request a couple days https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/397.

[2020-05-04 22:03] erictleung commented on #393
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/397

[2020-05-04 22:03] #393 closed

[2020-05-05 22:01] samrith-s commented on #389
Hey @rajat641, I’d be happy to assist you! Can you create an umbrella issue on any thing you want to work on? Alternatively, you can reach out to me on [twitter](twitter.com/tueieo).

[2020-05-07 17:14] Satzyakiz commented on #19
Can I work on this issue ? I am new to Open Source and want to start contributing.

[2020-05-07 19:45] aveshfar commented on #19
can i work on this issue????

[2020-05-17 09:32] erictleung commented on #19
@aveshfar if you're still interested, it is all yours! Let us know if you have any questions 👍

[2020-06-06 21:31] erictleung opened #404 "Translate README to Thai"
In progress PR https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/377. See progress and review this PR if you know Thai.

[2020-06-06 21:33] erictleung opened #405 "Help translate README to Bulgarian"
In progress PR https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/382. See progress and review this PR if you know Bulgarian.

[2020-06-08 06:53] yogeshsingh2672000 commented on #405
I am pleased to do it.
Thank you

[2020-06-08 06:55] yogeshsingh2672000 commented on #404
I am doing it first time if you awarded this one to me then i m be very pleased to do it

[2020-06-08 13:07] marcosvidolin opened #406 "Ditiow - Contributors: issues, tests, feedback, examples, features, etc."
Hi guys,

I'm looking for people to contribute to [Ditiow](https://github.com/marcosvidolin/ditiow).
You can help with: issues, tests, feedback, examples, features, etc.

https://github.com/marcosvidolin/ditiow

Thank you

[2020-06-11 05:08] yogeshsingh2672000 commented on #405
i wanted to do it

[2020-06-11 13:19] erictleung commented on #405
@yogeshsingh2672000 great! There's already a pull request for it. Please take a look at it so you don't have duplicate work. You can review the PR here https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/382/files. If there are too many changes that need to be made, feel free to create a new pull request. You can also make [suggested edits to the current PR](https://help.github.c

[2020-06-18 16:20] radiasl commented on #386
@kaliomar still working on this? I'd like to give it a try if not

[2020-06-18 19:15] erictleung commented on #386
@radiasl go for it if you're up for it! Let me know if you have any questions about helping 👍

[2020-06-27 18:26] janvig commented on #405
Hey @erictleung, can I use Google Translate API? I tried it with English <=> German and worked pretty good.

[2020-06-27 20:18] ajaynair opened #407 "https://github.com/ajaynair/karam/ An android application that connect laborers and individual employers"
Hey! I am working for people to collaborate with to develop the android application. It is for a social cause. As a team, we will have to think about UI/UX, Java android code, flask REST server, MySql database, privacy, security, etc. I will be happy to guide anyone with no or little experience in any of these domains. Looking forward to talking to you, reader!

[2020-06-28 08:10] erictleung commented on #405
@janvig feel free to do so. However, we should get a native speaker to double check it.

[2020-06-28 08:14] erictleung commented on #405
@janvig once you've converted it with Google Translate, feel free to compare the current translation with using the suggest function on GitHub https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/382/files

[2020-06-29 15:55] starhasibul opened #409 "Help Translate README to Bengali"

[2020-06-29 15:57] #409 closed

[2020-07-01 14:31] dipscodehub commented on #404
@erictleung I want to translate the README file into Hindi.
This Languages has a lot of native speakers so it would be really helpful for those with Hindi Language.
@erictleung Can i do that?

[2020-07-01 15:23] dipscodehub opened #410 "Translate README.md to Hindi"

[2020-07-01 15:25] dipscodehub commented on #410
@erictleung @QuincyLarson I want to translate the README.md file in Hindi and contribute to this Project.
what are the things I should keep in mind can you please help me regarding this.

[2020-07-02 17:44] erictleung commented on #410
@dipscodehub thanks for your interest in contributing! To be as accurate as possible, it would be great if you could also get another person who speaks Hindi could review your pull request changes. If you cannot, then we can just leave the pull request there until someone else can.

Otherwise, I would follow the main English `README.md` as best as possible. Let me know if you have any other questi

[2020-07-02 17:47] dipscodehub commented on #410
@erictleung sure I'll get someone to review the hindi version of the readme file.
Is there and eligibility for the person who is going to review the readme

[2020-07-02 17:48] dipscodehub commented on #410
@erictleung and please add the badge of in progress or assign this to me as I've already started the translation and have completed half of the readme

[2020-07-03 21:55] erictleung commented on #410
The only requirement is that they also understand Hindi enough to verify your translation and give any feedback on changes if they see any.

Thanks!

[2020-07-11 10:20] janvig commented on #405
Hey @erictleung, I thought of validating the existing translation and improving it, rather than producing a new text and repeating the process. So I got a person from Bulgaria to read the translated text in here https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/382/files and all seems fine.

[2020-07-14 06:30] Lucky0108 commented on #410
Hey Guys, I was looking to do open source contribution. And I came across this Issue. I would like to tell you that I also speak Hindi and that I can help @dipscodehub in reviewing the Hindi translation of Readme.md if needed.

Thanks!

[2020-07-14 06:33] dipscodehub commented on #410
@Lucky0108 Once i complete the translation I'll ping you to review the file.

[2020-07-14 06:37] Lucky0108 commented on #410
Sure!

[2020-07-20 20:37] matteobruni opened #413 "tsParticles"
Hello,

I maintain [tsParticles](https://github.com/matteobruni/tsparticles) and I'm looking for help in some new cool feature and some are good for starting in this project

Demos here: <https://particles.matteobruni.it>

[2020-07-20 20:44] nhcarrigan commented on #413
Hello~!

It appears this issue was opened by accident - as such, I am going to close it.

If you feel this issue should remain open, feel free to reply with an explanation. Otherwise, you are welcome to check out our [forums](https://forum.freecodecamp.org) for resources related to your project. 🙂

[2020-07-27 12:15] lopeselio opened #416 "Translate Readme to German"

[2020-07-30 10:50] KhushiGangopadhyay commented on #410
hey guys , even i speak hindi and i think i can help in reviewing the translation :)

[2020-07-30 20:55] tiphaineboyer opened #418 "Add Ovio to the section "Contributing to Open Source in general""
Hi, I'd like to add [ovio.org](https://ovio.org) to the list of options proposed in your README.
Ovio is on the mission to empower more developers to contribute to open source projects. We created a [platform](https://explore.ovio.org) with a curated and personalized selection of open source projects to accelerate contributors matching. This platform makes it easy for developers to find the right

[2020-08-08 05:10] sonuishaq67 commented on #404
Can i take this up?

[2020-08-16 15:13] SaumitraVerma commented on #416
https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/README-DE.md

[2020-08-17 00:54] GaroK01 commented on #386
I can also help you guys. (if you still need help)

[2020-08-24 05:09] KhushiGangopadhyay commented on #410
Thank you for informing,I would like to contribute to the channel, please
can you tell what are the next steps?

On Sat, 22 Aug 2020 at 01:11, Quincy Larson <notifications@github.com>
wrote:

[2020-08-27 01:17] erictleung commented on #386
@GaroK01 yep, it looks like this issue is still open, so feel free to take this translation! :+1:

[2020-08-27 01:19] erictleung commented on #410
@dipscodehub @KhushiGangopadhyay take a look at our contributing page to find ways to help out https://contribute.freecodecamp.org/ Thanks for your interest!

[2020-08-27 05:14] Deek9399 commented on #410
I would like to be a contributor for this issue.
@dipscodehub Let me know if I could help with something.
Thanks

[2020-08-27 21:37] erictleung commented on #410
@Deek9399 thanks for your interest! It doesn't look like there's an open pull request with changes yet. So you can feel free to start translating and just comment here for help on double-checking the translation with someone else.

If you need help on how to start this translation, you can take a look at the contributing document https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blo

[2020-09-21 14:25] shivaramayysola commented on #389
Hi Samrith
I am interested to help you. I can take this issue and work on this. Please let me know.

[2020-09-24 03:35] samrith-s commented on #389
Hey @shivaramayysola 👋 definitely! Let me know if you need any help!

[2020-10-02 05:56] Aditya-017 commented on #404
I want to work on it

[2020-10-02 06:19] rutujak24 opened #428 "Would love to join this organization and contribute"
Hello!

I am an undergraduate at PICT, Pune. A quality and output-driven computer enthusiast. Passionate about exploring computer science and technology-related topics. My domains & fields of interest are machine learning, data science, Computer Vision, Python, Java, C++, R, MATLAB, open-source. I aspire to work and contribute to these fields for betterment society through research and innovations

[2020-10-02 06:22] nhcarrigan commented on #428
Hello~!

Thank you for your interest in contributing. I recommend reviewing our [contributing guidelines](https://contribute.freecodecamp.org) for how to contribute. Feel free to look in to issues labelled `help wanted`, as these do not require permission to work on. 🙂

[2020-10-02 06:22] #428 closed

[2020-10-02 20:14] camperbot opened #432 "Fix existing links of duplicates and permanent redirects"
<table>
  <thead>
    <tr>
      <th width="50"></th>
      <th width="100%" data-danger-table="true" data-kind="Warning">
          1 Warning
      </th>
     </tr>
  </thead>
  <tbody>
    <tr>
      <td>:warning:</td>
      <td data-sticky="false">Found 28 link issues, <code>@freeCodeCamp/moderators</code> will take care of these, thanks :)</td>
    </tr>
  </tbody>
</table>

#### Link issues b

[2020-10-02 20:15] nhcarrigan commented on #432
@raisedadead is this still being tested, or should I go ahead and submit a PR to fix these?

[2020-10-02 20:19] raisedadead commented on #432
Nope, this is no longer being tested. I accidentally was logged in on the camperbot account and managed to create this issue, please go ahead and make a PR if you are interested.

[2020-10-02 20:23] raisedadead commented on #432
We should drop the links that are 307, which is some funny business that medium is doing (presumably to boost tracking, etc).

We have better places to link to if needed.

[2020-10-02 20:24] nhcarrigan commented on #432
A couple of those duplicates are from the badges (the badges have links to the resources too). Should those be ignored, or should the links be removed from the badges?

[2020-10-02 20:31] raisedadead commented on #432
Good question. Should be ignored.

This can needs to be changed:

https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/d0af56388675bd67c7ae99b6c8106494447e040c/.github/workflows/test.yml#L25

like so

[code]

[2020-10-02 20:33] nhcarrigan commented on #432
Alright. A couple of GitHub url dupes are false-positives from the author links as well. I'll leave those too, for now.

[2020-10-03 05:08] erictleung commented on #432
This issue should be resolved with https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/433 and https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/434. Thanks everyone!

[2020-10-03 05:08] #432 closed

[2020-10-03 05:10] erictleung opened #438 "Danger secrets not set up?"
From the last PR, here is the GitHub Actions output https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/434/checks:

[code]

cc/ @raisedadead

[2020-10-03 12:03] raisedadead commented on #438
Thanks for merging those PRs Eric, and this is a weird one.

I did test it before and it was working in an initial PR: #431, where the bot did comment.

But I can see that the CI is errored in a later PR here: https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/434/checks#step:4:230 and the interestingly it has found them in the list of ENV: https://github.com/freeCodeCamp/how-to

[2020-10-03 13:58] raisedadead commented on #438
Looks like I will be needing to switch back to the danger-js stack instead. For now I have disabled danger and defaulting to an error-ed status on awesome_bot

The goal was to catch duplicated and broken links as comments on the PR, and even check the translated files, leave an automatic comment for a peer review, and comment for common mistakes.

I will circle around to getting this done hopefull

[2020-10-03 22:33] erictleung commented on #438
Thanks for submitting those changes though! I'm still new at GitHub actions but it seems helpful. I did notice it working for a bit (as you pointed out).

Take your time, this is a pretty low-priority bug, but I appreciate your help on it. I saw what [danger-js](https://danger.systems/js/) can do and I think it would be helpful :+1: Thanks!

[2020-10-03 23:14] raisedadead commented on #438
The actions when coupled with the ruby binaries in the bash env for actions are orders of magnitude faster. I am new to Danger itself, and currently investigating the issue which basically boils down to:

If a change was made on a branch on the parent repo and followed by a PR to any branch on the parent repo, the setup works.

It breaks when the same is done for a PR on the fork.

[2020-10-03 23:16] erictleung commented on #438
Yeah, I came to a similar conclusion based on the output from your debug PR checks https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/440/checks

[code]

[2020-10-03 23:44] RandellDawson commented on #438
@raisedadead Everything I had ever read about Danger was that it was not recommend for forked repos.

[2020-10-04 02:22] raisedadead commented on #438
I do not think that's accurate, see `https://github.com/vsouza/awesome-ios/pull/1001`, and their Dangerfile is quite minimal the only difference is they are on Travis.

With GitHub actions there is something called as `pull_request_target` (instead of the normal `pull_request`) event that is meant to address the "context" of execution, but neither `danger-js` nor `danger` supports it natively as o

[2020-10-06 03:43] genesisgabiola opened #441 "Translate README to Filipino"
I am willing to review the changes that can be made by anyone who can read/write Filipino language.

[2020-10-08 15:52] erictleung opened #444 "Replace author to avoid duplicate links"
[code]

Source to be changed https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/README.md#L96

[2020-10-08 16:59] Gilnuss9 commented on #444
not sure if I understood what you are asking.
do you want to replace the "@GitHubGuides" the just "GitHub"(while also changing what comes next)?

[2020-10-08 19:42] erictleung commented on #444
@Gilnuss9 thanks for your interest! Yes, I'm suggesting to replace `@GitHubGuides` with `@GitHub` and to replace the corresponding link as well so that our continuous integration tool won't throw an error. I hope that makes sense.

[2020-10-08 21:42] Gilnuss9 commented on #444
Understand, would like to be assigned to this

[2020-10-09 13:07] Sky020 commented on #444
I assume this is closed with #445 ?

[2020-10-09 15:00] erictleung commented on #444
yep!

Thanks, @Gilnuss9, for taking care of this issue! :+1:

Closing as resolved.

[2020-10-09 15:00] #444 closed

[2020-10-09 15:17] erictleung opened #447 "Replace blog link with more stable link"
[This link](https://www.hanselman.com/blog/bring-kindness-back-to-open-source) recently was flagged for "misbehaving" on an `awesome_bot` check. This article is sufficiently old that we can probably use a more permanent link for it (https://web.archive.org/web/20201009150545/https://www.hanselman.com/blog/bring-kindness-back-to-open-source)

Here's the change I'm proposing:

[code]

This line is h

[2020-10-09 15:24] erictleung opened #448 "Update ignore list"
This issue has two parts/files to address.

The ignore list in our [`test.yml` file](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/.github/workflows/test.yml) can be updated by removing information for `kentcdodds`, which we will address in the secdon part of this issue.

[code]

Line of code that needs to be changed: https://github.com/freeCodeCamp/how-to-contribute

[2020-10-09 15:28] erictleung opened #449 "Replace author website because no longer available"
The site http://www.letakeane.com/ is no longer available. Their Twitter page is also not active. So let's replace their page with their Hacker Noon page instead https://hackernoon.com/u/letakeane

[code]

Line of code to change: https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/README.md#L101

[2020-10-09 15:36] sonylomo commented on #448
Please assign this to me. 😁

[2020-10-09 16:02] sonylomo commented on #448
I've forked and made a PR: I carefully followed your instructions, but a check failed.
This is my first time. 😅

[2020-10-09 16:03] cBridges851 commented on #449
Can I be assigned to this issue please?

[2020-10-09 16:09] erictleung commented on #448
@sonylomo no worries! That's another issue 😄

Closing as resolved by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/450

[2020-10-09 16:09] #448 closed

[2020-10-09 16:10] erictleung commented on #449
@cBridges851 go for it! Let me know if you have any questions about changing things :+1:

[2020-10-09 16:10] cBridges851 commented on #449
Thank you @erictleung 😄

[2020-10-09 16:17] cBridges851 commented on #449
A pull request has been made 😀

[2020-10-09 16:31] sonylomo commented on #448
Thanks @erictleung

[2020-10-09 16:33] erictleung commented on #449
@cBridges851 great, thanks!

Closing issue as resolved by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/451

[2020-10-09 16:33] #449 closed

[2020-10-09 16:42] ImagineZero0 commented on #447
Can I work on this?

[2020-10-09 17:55] erictleung commented on #447
@ImagineZero0 go for it!

[2020-10-09 21:58] ImagineZero0 commented on #447
I have forked, cloned and changed the readme.md file in the repo respectively and made the push origin or pull request..
Please verify it..

[2020-10-09 22:04] erictleung commented on #447
@ImagineZero0 great! I see that you've made updates on your own fork https://github.com/ImagineZero0/how-to-contribute-to-open-source/commit/975b66976ba3b3dcbf82c80e20d04a24219cb767.

The next step is to then make a pull request to this repository https://github.com/freeCodeCamp/how-to-contribute-to-open-source/compare. When you visit the page, GitHub should have some points around the page sugges

[2020-10-09 23:05] ImagineZero0 commented on #447
I think I have now been able to make a PR on the main repository and therefore please verify those changes.

Thank you very much for your help and this helped me really understand how to contribute to open source

[2020-10-10 03:07] erictleung commented on #447
Resolved by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/453

[2020-10-10 03:07] #447 closed

[2020-10-10 08:42] MohamdAlhawi commented on #386
me too I can help here, I'd love to do that 😊

[2020-10-10 20:05] erictleung commented on #386
@MohamdAlhawi great!

There currently is no `README-AR.md` file so anyone can feel free to start a pull request. You don't have to finish all the translation. Feel free to create a [draft pull request](https://github.blog/2019-02-14-introducing-draft-pull-requests/) and others can help review it along the way. You can also [make suggestions](https://docs.github.com/en/free-pro-team@latest/github/c

[2020-10-11 06:45] vivek80801 commented on #410
@erictleung

I want to conntribute to freecodecamp. What are ways in which I can contribute to freecodecamp?
It will be great if I can contribute to freecodecamp.

Can I also try to translate README.md into Hindi ?

Thank You.

[2020-10-11 13:18] MohamdAlhawi commented on #386
I'll do that thanks

[2020-10-12 13:34] YosephKS opened #459 "Translate the Guide to INDONESIAN"
Hey, I am trying to start doing some small open source contributions and I think translating the guide to Indonesian would be a great start. Do you think I can get the approval to do so?

[2020-10-13 16:46] erictleung commented on #410
@vivek80801 welcome! In general, here are ways you can help out https://contribute.freecodecamp.org/

It appears someone has already translated the README to Hindi https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/462. You can help contribute by reviewing their translation and ensuring it is accurate.

You can receive credit and make suggestions on this page https://github.com/

[2020-10-13 16:57] erictleung commented on #459
@YosephKS go for it! Thanks for your interest in helping out.

When making the file, please name it `README-ID.md`. Take a look at our contributing documentation if you have any questions about contributing https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/CONTRIBUTING.md.

[2020-10-15 17:16] YosephKS commented on #459
@erictleung you can check the PR here: https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/467.

Let me know if there is anything that I need to revise. Thank you.

[2020-10-17 12:56] vromaniv opened #469 "Translate the README.MD to Ukrainian"
Hello, guys.

I'm a native Ukrainian speaker and I would like to create the _README-UK.MD_ file for this project. This seems like a great way for me to start contributing to the open-source.

If you are okay with this idea, I can start implementing the changes right away and open a PR once I'm done.

[2020-10-17 13:42] Immanuelbh opened #470 "Translate the README.md to Hebrew"
Hi,
I'd like to get in to contributing to open source.
Is there any interest in translating the readme guide to Hebrew?
I'm a native English and Hebrew speaker and would gladly help.

[2020-10-20 15:52] catboxer commented on #19
First time working on an issue. Can I help? Thank you!

[2020-10-20 16:20] erictleung commented on #19
@catboxer this still looks open! Take a look at https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/284 for an example of how this should look like :+1:

[2020-10-23 21:04] erictleung commented on #459
@YosephKS thanks! Sorry for the late response. I got busy with some other work. I made some comments on your pull request :+1:

[2020-10-29 10:50] Hessam-Emami opened #475 "Persian Translation Errors"
Hi, There are some grammatical errors in the Persian/Farsi version of the Readme file which is the result of direct word-to-word translations( like how the google translate works for us) and needs to be fixed for better readability.

[2020-10-29 10:52] Hessam-Emami commented on #475
This is located in README-FA.md

[2020-10-29 20:47] erictleung opened #479 "Help review the Polish translation of the README.md"
We have [an open pull request](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/460) to translate our README.md to Polish. We need an additional person to review the changes for accuracy.

Feel free to make [in-line comments and suggestions](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/commenting-on-a-pull-request#adding-li

[2020-10-29 20:59] erictleung opened #480 "Help finish the Dutch translation of the README.md"
The Dutch translation of the README is incomplete (https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/README-NL.md) and we need help to finish it.

Your translations can be partial. If possible, please have another person who knows Dutch to review your pull request.

If you create a partial translation, feel free to simply refer to this issue as

[code]

in the pull reque

[2020-10-29 21:01] erictleung opened #481 "Help review the Danish translation"
See https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/452 and make comment suggestions on the changes.

This issue will be updated accordingly if this pull request does not get merged.

[2020-10-29 23:11] erictleung commented on #405
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/382

[2020-10-29 23:11] #405 closed

[2020-11-02 14:42] EugeneGohh opened #482 "Help review README.md in Malay language"
- Translate README.md to Malay

[2020-11-03 14:48] #475 closed

[2020-11-03 15:01] EugeneGohh commented on #482
### Help me review my translation in Malay language.

[2020-11-03 17:49] erictleung commented on #482
@EugeneGohh thanks for your translation!

I don't know Malay so I can't properly review it. I'll leave this up for others to help out.

But two quick notes on your translation:

- Please rename your file from `README-MALAY.md` to `README-MS.md` based on the two ISO 639-1 https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes
- Please create a pull request to this repository with your changes. If yo

[2020-11-03 17:51] erictleung commented on #470
@Immanuelbh thanks for your interest!

If you want to start the translation, please name your translation file as `README-HE.md` so it matches the ISO 639-1 convention (https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes).

[2020-11-03 17:54] erictleung commented on #469
@vromaniv sorry for the late response, but you're welcome to translate if you have the time and wish to! 👍

And yes, please name your file `README-UK.md`.

[2020-11-03 17:58] erictleung commented on #441
@genesisgabiola thanks for your interest in helping review!

From my understanding, it appears that the Filipino language doesn't have a ISO 639-1 code, but is listed as Tagalog (https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes).

So for whoever wants to make this translation, let's name the file `README-TL.md` for this translation. When referring to this translation, we can refer to it as `T

[2020-11-03 18:37] Immanuelbh commented on #470
@erictleung Thank you for the reply, I will!

[2020-11-04 00:40] EugeneGohh commented on #482
@erictleung Alright sure mate.I have already renamed my file and created a pull request on it.

[2020-11-04 03:30] EugeneGohh commented on #482
@erictleung I am quite new to contribution actually.May I know what it takes to be a contributor of this?

[2020-11-04 07:43] ieahleen commented on #482
@EugeneGohh contribute once to the repository with a PR and you become a contributor :)

[2020-11-04 07:46] EugeneGohh commented on #482
Thanks for your reply. Lovely, just learned new thing. Thank you. 🙏

[2020-11-04 20:31] erictleung commented on #482
@EugeneGohh great thanks for your pull request https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/483!

I've labeled the pull request that it is open for review for someone else to check your translation. If you're able to find someone who also speaks and reads Malay, that would be great to help review your pull request :+1:

[2020-11-06 18:28] itisdb commented on #418
I would like to take it up.

[2020-11-07 03:11] erictleung commented on #418
@itisdb great! Take a look at our [contributing](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/CONTRIBUTING.md#adding-to-the-project-file) document here for how to add open-source projects :+1:

[2020-11-07 03:14] erictleung commented on #407
@ajaynair thanks for sharing your project! Please direct us to your contributing documents and what kinds of issues beginners can contribute to. Then we can link those here. Thanks!

[2020-11-07 03:15] erictleung commented on #416
Closing as German translation is already done. Happy coding!

[2020-11-07 03:15] #416 closed

[2020-11-08 18:12] SoloNoah commented on #470
hey Immanuel, do you need any help with translating to hebrew by any chance?

[2020-11-08 18:22] AliSheheryar opened #485 "Translation into Urdu"
Hello coders, I hope you are having a great day. I am new to open source contribution and i want to start off with **Urdu** language(Pakistani National Language) translation of readme.

[2020-11-09 10:43] Immanuelbh commented on #470
Hi!
I'm hoping to finish the translation by next week. If I'm not mistaken for the PR to be merged the readme should be reviewed by someone else (other than me). It would be great if you could review my translation once I'm done and we could fix it together! :)

[2020-11-09 12:33] SoloNoah commented on #470
cool :) i would gladly review it!
good luck!

[2020-11-11 10:35] RezaPurut commented on #482
@EugeneGohh  I have reviewed #483 and there are few things that need to be fixed. Anyway, good job for translating it to Malay.

[2020-11-12 19:22] Immanuelbh commented on #470
@SoloNoah PR is up for review! Would love your help with #487

[2020-11-13 06:23] SoloNoah commented on #470
@Immanuelbh Thanks for the update! Good job!
I will try reviewing it by Wednesday (18/11).

[2020-11-13 07:57] EugeneGohh commented on #482
Thank you for reviewing my Malay translation. 😊 🙏

[2020-11-16 19:41] erictleung commented on #418
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/486

[2020-11-16 19:41] #418 closed

[2020-11-16 19:43] erictleung commented on #485
@AliSheheryar great! Looking forward to your contribution. I don't know Urdu, so when you make a pull request to this repository, please try to find someone else who knows Urdu review your changes if possible. Otherwise, I'll simply create another issue to help review it.

If you are going to create this translation, please name the file `README-UR.md`

[2020-11-17 14:56] AliSheheryar commented on #485
Thanks eric for your support. I'll  get right to it. Ahoy!

[2020-11-19 10:48] SoloNoah commented on #470
I submitted a review. Sorry for the delay! Had a busy week.

[2020-11-28 23:19] #470 closed

[2020-11-28 23:25] erictleung opened #490 "Fix README link to Software Release Practice HOWTO"
This is failing our continuous integration bot because of a redirect of sorts with `en` at the beginning that isn't needed anymore.

[code]

[2020-11-28 23:25] erictleung commented on #482
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/483

[2020-11-28 23:25] #482 closed

[2020-11-28 23:26] erictleung commented on #459
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/467

[2020-11-28 23:26] #459 closed

[2020-11-29 19:53] #490 closed

[2020-12-14 03:41] ahammadshawki8 opened #492 "Translate the README.md file to Bengali"
✔✔ I am looking forward to translating the README.md file to Bengali. Feel free to suggest to me how to make my work better.

By the way,  Bengali has been ranked the sweetest of all languages in the world. So, I think it would be great if the README.md file is translated into the sweetest language.

[2020-12-14 07:10] ahammadshawki8 commented on #492
I have completed the task of translation into Bengali. Now, I am pushing the request. Eagerly waiting for your pull request.

[2020-12-18 13:02] michal-dbrnowski commented on #479
I have reviewed the original text in Polish and its changes, I think it is good now.

[2020-12-19 12:34] noah-vdv commented on #480
Hey, do you guys still need help? I'm willing to help.

[2020-12-22 23:58] erictleung commented on #479
Closing as QA is finished. Thanks @michal-dbrnowski!

[2020-12-22 23:58] #479 closed

[2020-12-24 04:24] erictleung opened #496 "Help review Bengali translation"
If you have working knowledge or are fluent in Bengali, we need help reviewing the translation https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/493.

Related https://github.com/freeCodeCamp/how-to-contribute-to-open-source/issues/492

[2020-12-26 17:56] rajnandini-tambavekar opened #497 "Translate README.MD to Marathi"
I know Marathi language , can I translate it Marathi. If it is ok please help me out with program , I'm beginner .

[2021-01-01 05:02] BobinMathew opened #498 "Change direct GitHub search's links"
![image](https://user-images.githubusercontent.com/32351527/103433625-77efd880-4c1a-11eb-88f1-4ff2354a4c43.png)

Currently this links are leading to Search.

Since there is an issue based search bar why cant this links go to that space?
This will be more convenient for users for searching.

What do you guys think?

[2021-01-02 18:01] khali70 commented on #386
I would be happy to be a part in such a great project @erictleung  @kaliomar

[2021-01-03 14:20] praj9719 commented on #497
I have recently translated  README in marathi you can check it out [here](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/499) or visit [README-MR.md](https://github.com/praj9719/how-to-contribute-to-open-source/blob/master/README-MR.md)

[2021-01-04 08:45] erictleung commented on #386
@khali70 great! Take a look at the open pull request [here](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/457) and review the translation to see if it makes sense and retains its original meaning. Thanks!

[2021-01-04 08:47] erictleung commented on #497
@rajnandini-tambavekar great! Yes, it appears @praj9719 has made the translation and made a pull request https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/499. You can help contribute by reviewing the translation and making suggestions if there needs to be.

[2021-01-10 18:29] marsonya opened #500 "Add reasoning to translation in CONTRIBUTING"
The README.md file is almost all links to very awesome resources for Open Source Contribution. But I don't get the point of translating the list of links.
I mean, the resources the translated guide links to are still in English.

EDIT:-
The repo is full of very information useful. No disrespect to any of the contributors.
I am just trying to understand the reason for translating the list of links

[2021-01-11 04:50] erictleung commented on #500
Thanks for the question. This repository is about contributing to open source and generally, translation is important to reaching diverse audiences. So naturally, we should include translation as an important contribution to open source.

However, you have a valid point about most of the links being in English. I have seen a few (although not a lot) of contributions of language-specific links. So

[2021-01-14 09:14] rajnandini-tambavekar commented on #497
No problem & thanks for responsing

[2021-01-14 09:15] #497 closed

[2021-01-15 16:16] erictleung commented on #498
Thanks for the comment! Can you give an example or screenshot of what you mean by "issue based search bar"? I'm unsure on what you mean by it.

[2021-01-15 16:22] erictleung commented on #500
To make it clear, we can add an explanation and reasoning in our CONTRIBUTING document as to why we're translating the README even though most of the links are towards English written posts.

https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/CONTRIBUTING.md#adding-to-non-english-readme

[2021-01-15 16:30] BobinMathew commented on #498
![osp_pic2](https://user-images.githubusercontent.com/32351527/104752633-e9806880-577c-11eb-94e1-dc2befa75f3a.png)
I meant this page

[2021-01-19 14:12] jzandag commented on #441
Can I work on this please? I'm a native Filipino

[2021-01-21 20:59] erictleung commented on #498
Oh I see, through the URL https://github.com/issues. I'm assuming that this functionality will be kept, so that sounds like a good task to convert them to the issue-specific search. It does appear to reduce some noise of the other search.

The one piece of caveat is that the issues tab loses the ability to filter on programming language. But given these are beginners, most of these beginner issues

[2021-01-22 12:59] BobinMathew commented on #498
@erictleung may I do this task

[2021-01-26 19:05] BKD471 opened #510 "Translating the Readme file to French"
I really want to translate the Readme file to French..can i help you

[2021-01-26 19:47] adityatiwari18 commented on #510
The readme is already translated to [french](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/master/README-FR.md)

[2021-01-27 21:09] erictleung commented on #441
@jzandag sorry for the late response, but go for it!

[2021-01-27 21:14] erictleung commented on #510
@BKD471 thanks for the enthusiasm to contribute, but as @adityatiwari18 has pointed out, the README is already translated to French.

Feel free to help translate parts of the English version to French that are missing from the French translation that may have happened because new resources are added. Happy coding!

[2021-01-27 21:14] #510 closed

[2021-01-27 21:19] #500 closed

[2021-01-27 21:46] #498 closed

[2021-02-09 03:43] kcoder63 opened #513 "Translate README.md to Telugu"
telugu is my native language and I would like to contribute by translating it to telugu.

[2021-02-11 06:27] varghesejose2020 opened #515 "Translate to malayalam"
Malayalam is my native language and I would like to contribute by translating it to Malayalam.

[2021-02-12 01:07] erictleung opened #517 "Remove broken links from README"
Remove the following links from the README file because they are broken.

[code]

[2021-02-13 23:36] erictleung commented on #515
Great! Feel free to translate the `README.md` file to Malayalam. Please also, if possible, have someone else who knows Malayalam to review your translation when you or someone else makes the pull request.

[2021-02-13 23:36] erictleung commented on #513
Great! Feel free to translate the README.md file to Telugu. Please also, if possible, have someone else who knows Telugu to review your translation when you or someone else makes the pull request.

[2021-02-14 22:06] codingpixie2021 opened #524 "Titles of the Challenges are not responsive"

[2021-02-15 16:39] AliSheheryar commented on #524
I am alive.

On Mon, 15 Feb 2021, 3:06 am Cori I, <notifications@github.com> wrote:

[2021-02-15 16:58] RandellDawson commented on #524
@codingpixie2021 Can you be more specific about what the issue is?

[2021-02-15 21:04] codingpixie2021 commented on #524
So when you minimize the window where the challenge is described every thing is responsive BUT the title
<img width="351" alt="Screenshot 2021-02-15 at 23 03 38" src="https://user-images.githubusercontent.com/69934140/107992790-188b3380-6fe2-11eb-8a38-6b2267c581d4.png">

[2021-02-16 01:09] erictleung opened #525 "Add "Getting Started with Open Source" by NumFocus"
https://github.com/numfocus/getting-started-with-open-source

[2021-02-16 01:41] iamayushdas commented on #525
Not getting the issue clearly. Can you brief more?

[2021-02-16 18:00] erictleung commented on #525
Sorry for the brief. I found this repo that has a number of resources to get started with open source.

I think this article can be added to the [Contributing to Open Source in general](https://github.com/freeCodeCamp/how-to-contribute-to-open-source#contributing-to-open-source-in-general) section in our repository here.

If you want to contribute to it, feel free. I hope that gives this issue a l

[2021-02-18 13:27] Lorretje commented on #480
Well hello there! I will be happy to help with the Dutch translation.

I have lived in the Netherlands most of my lifetime so far, lived last 2.5 yrs of High School in New Jersey and now back in NL.

Note that I am just getting used to Git and Opensource. So, consider me as a first-timer.

So, where can I begin?

[2021-02-18 16:57] vj-codes commented on #525
@erictleung hey I would like to work on this:)

[2021-02-20 17:27] erictleung commented on #524
@codingpixie2021 thanks for the issue. I think this belongs in the main repository. But this also appears to be noted here (https://github.com/freeCodeCamp/freeCodeCamp/issues/41090) and fixed with this pull request (https://github.com/freeCodeCamp/freeCodeCamp/pull/41124). Happy coding!

[2021-02-20 17:27] #524 closed

[2021-02-21 07:02] MareboinaRavi commented on #513
I can review them. I know Telugu very well.

[2021-02-24 21:19] #525 closed

[2021-02-25 07:20] Avinash-Gahlowt commented on #410
@erictleung I just really want to contribute to freecodecamp since i have been learning a lot from its youtube  channel really wanted to work for it. Can you guide me some.

[2021-02-25 07:24] ieahleen commented on #410
@Avinash-Gahlowt : it's awesome you want to contribute to freeCodeCamp! you can start reading contribute.freecodecamp.org

[2021-02-26 15:43] Jeevan-Kiran-Lenka opened #540 "Adding a readme file in Hindi language"
Heya!

I believe that there should be a **Hindi Readme** as **43.63%** of the world's population speaks Hindi so I guess it will be nice to have it here and [how-to-contribute-to-open-source](https://github.com/freeCodeCamp/how-to-contribute-to-open-source) repo doesn't have it.

[percentage of people in the world who speaks hindi](https://www.google.com/search?q=peracntage+of+people+in+the+world+

[2021-02-26 15:46] Jeevan-Kiran-Lenka commented on #540
Heya! I can add README-HI to your repo and I would like to have that chance

[2021-03-01 04:13] Jeevan-Kiran-Lenka commented on #517
Is there any alternatives link for that because I can help you change it

[2021-03-01 04:21] Jeevan-Kiran-Lenka commented on #496
Heya! I'm a native Bengali speaker from India and I'm working and reviewing your's Bengali readme

[2021-03-01 04:24] Jeevan-Kiran-Lenka commented on #410
Heya! I can help in double-checking the Hindi readme and also if possible to add the required changes to it

[2021-03-03 12:50] chryzcodez opened #544 "Making a Pull Request"
I tried making a #543 [pull request](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/543) in adding a [github repository](https://github.com/chryz-hub/opensource-4-everyone) on opensource to this repository but the [github actions](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/actions/runs/617494739) kept failing and I do not know what the issue was!

[2021-03-07 21:17] noah-vdv commented on #544
That problem has been fixed in PR #538 but it just needs to get merged

[2021-03-08 08:20] chryzcodez commented on #544
Okay, thanks.

I would be expecting the merge to be made in no time, So that mine can be reviewed also!

[2021-03-09 14:28] yasht01 opened #545 "Add a book in Open Source books section."
Hey!
I found a book [Open Advice](http://open-advice.org/) that could be really useful for beginners when they start contributing to free software.

[2021-03-09 14:29] yasht01 commented on #545
Can I add this in the README.md?

[2021-03-12 20:14] smijal opened #546 "Problems making my first pull request"
I just finished translation #542, but the checks keep failing. The log shows multiple problems with the links 404 errors and page not found. Do I need to remove all the failing links or there is something else that I am doing wrong. Thank you.

[2021-03-13 11:12] herkura commented on #480
@erictleung  pls check my pr I have converted to Dutch language

[2021-03-13 11:24] herkura commented on #480
there are validation issues in my pr kindly help @erictleung

[2021-03-14 20:13] noah-vdv commented on #546
That problem has been fixed in PR #538 but it just needs to get merged

[2021-03-15 19:08] manastole03 opened #551 "Adding the list of open source programs"
## Introduction

Hey, I am Manas Tole. I am an engineering student and I am having an experience in open source contribution.
This repository is so useful for newbies as well as for experts to start their contribution in open source. The related articles are too good and written by  well experienced people.
But I found a small issue in this repository which is mentioned below.

## Issue

New progr

[2021-03-25 22:42] #517 closed

[2021-03-25 22:47] erictleung commented on #544
Thanks for your all of your patience. Yes, as @noah-vdv noticed, there were some other links that were having some issues. I've merged https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/538, so this shouldn't be an issue. So closing as resolved. Happy coding!

[2021-03-25 22:47] #544 closed

[2021-03-25 23:31] erictleung commented on #540
Thanks for bringing this up. This is already being worked on in this PR https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/462 and already brought up in this issue here https://github.com/freeCodeCamp/how-to-contribute-to-open-source/issues/410. It looks like you've been involved in those threads, so I'll be closing this issue in favor of those others. Happy coding!

[2021-03-25 23:31] #540 closed

[2021-03-25 23:32] erictleung commented on #496
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/493

[2021-03-25 23:32] #496 closed

[2021-03-25 23:33] erictleung commented on #545
@yasht01 thanks for finding and sharing this resource. We welcome this addition to this repository. This resource can be added to the section "Contributing to Open Source in general". Let me know if you  need any help contributing.

[2021-03-25 23:35] erictleung commented on #551
@manastole03 thanks for sharing. These are some great initiative for people wanting to contribute to open source.

These resources can be added to the section "Open Source contribution initiatives".

You don't have to worry about the other languages if you don't have time for or have expertise in that language.

[2021-03-25 23:37] erictleung commented on #546
@smijal thanks for your pull request! The pull request is failing because of links that don't have to deal with the changes you've made. These changes have been updated, so you don't have to worry about fixing them in this pull request you've made. Closing as not an issue anymore. Happy coding!

[2021-03-25 23:37] #546 closed

[2021-03-25 23:56] BaseMax commented on #551
We look forward to seeing this list. @manastole03

Best wishes for you

[2021-03-26 07:10] chryzcodez commented on #544
Yeah, thanks. My contribution has been merged.

[2021-03-26 15:19] manastole03 commented on #551
Thank a lot @erictleung & @BaseMax

[2021-03-29 08:36] yasht01 commented on #545
Hey @erictleung 👋
Thanks for the reply. I will work on this and make a PR as soon as possible.

[2021-03-29 13:30] yasht01 commented on #545
Hey @erictleung
I have made a PR, but the checks are failing. Can you point out what is wrong?

[2021-04-01 18:36] #545 closed

[2021-04-01 18:36] erictleung commented on #545
@yasht01 thanks for the PR. I've merged it. Regarding the checks failing, that is because of another link that doesn't pass our checks. I wouldn't worry about it for now. Happy coding!

[2021-04-15 12:59] Arun-kc commented on #515
I would like to help with this contribution. @varghesejose2020 @erictleung

[2021-04-15 13:57] varghesejose2020 commented on #515
:+1:  @Arun-kc

[2021-04-15 14:03] varghesejose2020 commented on #515
@Arun-kc      https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/526

[2021-04-28 18:46] chincholikarsalil commented on #19
@erictleung
Hey! Is it okay if I work on this?

[2021-04-29 00:01] erictleung opened #558 "Add "Ten simple rules for helping newcomers become contributors to open projects""
Add this article to contributing to open source in general section

https://doi.org/10.1371/journal.pcbi.1007296

[2021-04-29 06:00] nishanttyagi18 commented on #558
Hi, can i work on this?

[2021-04-29 17:07] erictleung commented on #558
@nishanttyagi18 go for it! Let me know if you have any questions about contributing 👍

[2021-04-30 02:00] nishanttyagi18 commented on #558
Thanks, right now i don't have any.

[2021-04-30 20:24] inezabonte commented on #5
Hi, first time contributing. Can I work on this?

[2021-05-01 23:55] #558 closed

[2021-05-17 13:06] gamecitybago opened #560 "FreeCodeCamp"

[2021-05-17 13:07] #560 closed

[2021-05-22 18:20] mohamed-nour-1 opened #561 "Mhm"

[2021-05-22 18:38] #561 closed

[2021-06-06 07:17] niyozbek opened #565 "Translate README.md to Uzbek"
Uzbek is my native language, and I would like to contribute by translating it.

[2021-07-21 10:15] dejanilic opened #571 "Translate README.md to Serbian"
Hello!

This is my first ever contribution,
so I would like to kick it off with translating readme file to my native language, Serbian.

[2021-07-26 08:39] #571 closed

[2021-07-26 15:55] RohanSengupta326 commented on #492
I was exploring this repository thinking I should translate the `Readme.md` file in **Bengali**, then suddenly saw it was already done. I was surprised. Great work !!

[2021-07-28 03:07] texas2010 commented on #492
I closing this issue. it seems it is done to translate.

[2021-07-28 03:07] #492 closed

[2021-08-03 16:27] premnathkulal opened #576 "Translate README.md to Kannada."
Kannada is my native language, and I would like to contribute by translating README.md to Kannada.

[2021-08-05 20:48] #551 closed

[2021-08-06 14:05] #576 closed

[2021-08-06 14:05] premnathkulal commented on #576
test closed

[2021-08-06 14:08] premnathkulal opened #577 "Translate README.md to Tulu"

[2021-08-06 14:09] premnathkulal commented on #577
Close test

[2021-08-06 14:09] #577 closed

[2021-08-06 14:09] premnathkulal opened #578 "Translate README.md to Kannada"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2021-08-08 14:42] aasim-syed opened #579 "Translate README.md to TAMIL"
My native language<code>Tamil</code> I would like to contribute to it

[2021-08-10 05:32] varghesejose2020 commented on #515
help wanted

[2021-08-10 06:26] premnathkulal1 commented on #578
I would like to help you with this translation.

[2021-08-10 06:27] premnathkulal1 commented on #578
Sure premnathkulal1

[2021-08-10 06:30] premnathkulal commented on #578
Sure Premnathkulal1

[2021-08-19 16:00] arhaan023 commented on #410
Hi, I speak Hindi too, and I really want to contribute here in translation, but I see this branch is closed right now. How can I still contribute here?

[2021-08-23 20:12] AsswinCR commented on #389
Hello Samrith,
 I am interested to help you with this task, can you guide me, what is to be done :)?

[2021-08-27 23:27] SARANYA233 commented on #513
Is this issue resolved or else can I contribute to it?

[2021-08-29 03:39] ZedanSaheer opened #587 "translate README.md to malayalam"
Hello my native language is **Malayalam** , and i would like to _translate_ the _readme.md_ to **Malayalam**!

[2021-09-06 10:47] Kareem-negm opened #589 "Translate README.md to Arabic Language"
Hello my native language is Arabic, and I would like to translate the readme.md to the Arabic Language .

[2021-09-07 17:35] mr-speedster commented on #587
https://github.com/deepushajia/ASCII-Unicode-Converter-for-Malayalam.git

use this may be works

[2021-09-20 12:23] Shashwat-05 commented on #410
what's the issue here, why does Hindi Readme file not been merged yet ?? Does it need updating? If so, I can assist.

[2021-09-27 04:33] kunalkumar007 commented on #410
Hello @erictleung, I am a native Hindi speaker too. Hope if I can help to close this issue.

[2021-09-27 23:13] acse-srm3018 opened #598 "READ.ME translating to Farsi(Persian)"
Hello everyone, I would like to translate the readme.md to Farsi(Persian) to make it easier to understand for Persian natives speakers.

[2021-09-30 16:50] erictleung commented on #589
Duplicate of https://github.com/freeCodeCamp/how-to-contribute-to-open-source/issues/386

[2021-09-30 16:50] #589 closed

[2021-10-01 06:21] henry-the-vietnamese opened #601 "Typo and Grammar Issues"
**Looking forward to reporting typo and grammar issues:**
I found various English typography and grammar issues in the CONTRIBUTING.md file

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://github.com/freeCodeCamp/how-to-contribute-to-open-source/'.
2. Click on 'CONTRIBUTING.md'.
3. Read through line by line.
4. See issues.

**Desktop:**
 - OS: Windows
 - Browser: Microsoft Edg

[2021-10-01 06:33] gullapalli9482 commented on #601
I didn't specifically find any , could you give me some line reference so that it might be easy to spot it easily.
Or a reference under which context you found them.

[2021-10-01 11:27] mas-designs opened #605 "German Grammar issue in Readme.md"
**Describe the bug**
There is a grammar issue within the text of the readme.md file.
It is "erstelle ein neues Issue" instead of "erstelle einen neuen Issue"

[2021-10-01 17:30] majestic-owl448 opened #607 "Feature request: translation using crowdin"
The main freeCodeCamp repo now uses crowdin as a way to translate the documentation. I don’t know if it would work for this repo too but it’s a proposal for that.

[2021-10-10 13:04] ravellaabhinav commented on #513
Hey i am from Andhra pradesh which is a telugu speaking state. Can i resolve this!!

[2021-10-26 21:51] PriyanshSarvehi opened #616 "Need HELP Getting started with GitHub"
Hi everyone! I am Priyansh Sarvehi and i wanna make some contributions. Its my first time dealing with github.
I am a front end web developer and currently studying about backend and stuff
I know: Java JavaScript HTML CSS and a little bit of SQL/MySQL.
Is anybody interested to help me know how to start contributing?

Thanks in advance.

[2021-10-28 16:52] #616 closed, assigned to nobody

[2021-11-05 15:26] ipravek commented on #579
is it still open issue?

[2021-11-08 13:48] aloisdg opened #620 "Add a link to FOSS Acronym"
Hello,

I have created a list to collect all the common acronyms I faced in my open source journey. Would it be useful to add it to this project? Here it is: [Foss Acronyms](https://github.com/d-edge/foss-acronyms).

[![image](https://user-images.githubusercontent.com/3449303/140753242-b1aa9bd0-3bd0-444c-a76d-1b84b2439b27.png)](https://github.com/d-edge/foss-acronyms#acronyms)

Cheers,

[2021-11-19 11:54] shubhimainalli commented on #578
I would like to help in kannada translation and the review as my native language is kannada

[2021-11-24 09:53] tobirix opened #624 "Chapter missing in README_DE.md"
The chapter `Open Source programs to participate in` is not available in the German version yet.
I will also link it in the Contents section.

[2021-11-25 02:15] IMPranshu commented on #410
@dipscodehub Hello I am a native Hindi Speaker and I really want to contribute in converting the readme to Hindi language

[2021-12-02 12:11] sticktrick3181 opened #627 "Bug report"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2021-12-07 03:35] iamrahulrnair commented on #620
i can work on this?

[2021-12-07 04:17] iamrahulrnair commented on #620
Thanks, i could work on this

[2021-12-22 11:47] najmieh commented on #598
@acse-srm3018 I can do this.

[2022-01-03 06:00] SensationalShubham opened #631 "I want to join your Github Organization."
**I Just saw your Open Source video on YouTube and I also want to join your Github Organization.**

[2022-01-03 07:02] erictleung commented on #631
Hi @SensationalShubham! Thanks for your interest in helping out and even wanting to join our GitHub Organization! We usually add people to our organization who have made consistent contributions to our organization already. For example, I helped triage and help manage some of the GitHub Issues over at the [main repository](https://github.com/freecodecamp/freecodecamp/issues). After a while, the cu

[2022-01-03 07:02] #631 closed

[2022-01-03 07:02] #627 closed

[2022-01-03 16:08] raisedadead commented on #438
Out of the scope of my limited time.

[2022-01-03 16:08] #438 closed

[2022-01-03 17:35] erictleung commented on #513
There's a PR that's been made regarding translating our README to Telugu https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/593. Please take a look at make suggestions if you can. Thanks!

[2022-01-03 19:26] erictleung commented on #410
Hi everyone! Thanks for everyone's interest. I just merged in a PR that many have contributed to https://github.com/freeCodeCamp/how-to-contribute-to-open-source/issues/410. I'll be closing this issue, but feel free to read through the changes and make suggestions through a PR. Thanks again everyone for those who helped! Happy coding!

[2022-01-03 19:26] #410 closed

[2022-01-04 18:40] erictleung commented on #607
Thanks for making this suggestion @ieahleen! I was chatting with @nhcarrigan about this, who has a bit more knowledge about how Crowdin works and here's his response on it:

So from what I gather, adding Crowdin might be too much overhead for this kind of repository, despite the code infrastructure being in place for the main repo. It may get a bit messier for this repo, but I think as long as peo

[2022-01-06 00:38] erictleung opened #633 "Add "What is Open Source Software? OSS Explained in Plain English""
Add https://www.freecodecamp.org/news/what-is-open-source-software-explained-in-plain-english/ to our README.md to the [Useful articles for new Open Source contributors](https://github.com/freeCodeCamp/how-to-contribute-to-open-source#useful-articles-for-new-open-source-contributors) section of the README. You can also attribute it to [Jessica Wilkins](https://www.freecodecamp.org/news/author/jess

[2022-01-06 00:47] erictleung opened #634 "Create repo specific template for issues"
The main issue template doesn't fix this repository's purpose.

Here is an example you can put into `.github/ISSUE_TEMPLATE/` and name the file as `suggest-new-link.md`

[code]

See the main repo if you need working examples https://github.com/freeCodeCamp/freeCodeCamp/tree/main/.github/ISSUE_TEMPLATE. For our repository, there is no need for a number preceding the file. The file name can just be

[2022-01-06 00:49] erictleung opened #635 "Create pull request template"
The main repository pull request template is okay, but we can make it more specific for this repository.

The suggested change is to create a file in `.github/` that is named `PULL_REQUEST_TEMPLATE.md`

[code]

See the main repository for a working example https://github.com/freeCodeCamp/freeCodeCamp/tree/main/.github

[2022-01-06 00:51] erictleung opened #636 "Create funding file"
Create a `funding.yml` file in `.github/`.

The file should be

[code]

See the main repository for what this should look like https://github.com/freeCodeCamp/freeCodeCamp/tree/main/.github.

[2022-01-06 03:24] shaund16 commented on #635
I can take care of this, can you assign it to me @erictleung

[2022-01-12 21:45] #633 closed

[2022-01-20 16:44] sai-praveenkumar commented on #513
telugu is my mother tounge.Hope I could help you bro.

[2022-01-24 06:34] Kajal03 commented on #19
@erictleung Hey, I have raised a PR for this issue. Can you please verify?

[2022-01-28 01:00] thinhha97 opened #644 "I want to help translate README.md to Vietnamese."
Vietnamese is my native language and I would like to contribute by translating README.md to Vietnamese.

[2022-02-02 13:22] Rozman123Rok opened #649 "Translating README.md to Slovenian"
Hello,  guys.

I'm a native Slovenian speaker and I would like to start contributing to the open-source. So I can create README-SI.md file for this project.

[2022-02-08 18:07] antonio-erick commented on #649
That would be very good. You should look into [this](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/f417311e20e9dcbbb7813830d2bbf23dab55b85d/CONTRIBUTING.md).

[2022-02-13 14:51] kenanajkunic opened #651 "Translating README to Serbian/Croatian/Bosnian"
I would like to translate the README into these 3 languages as they are same and I am a native speaker.

[2022-02-21 20:10] erictleung opened #656 "Add concurrency check in GitHub Actions to cancel in-progress workflows"
Add these lines to the GitHub Actions workflow

[code]

This will prevent GitHub Actions to fire for multiple commits run quickly after each other, e.g., from typos.

This change needs to be added to this file https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/main/.github/workflows/test.yml.

For example, this is what needs to be done

[code]

Inspired from this tweet https://t

[2022-02-22 02:45] Simba-97 commented on #656
Hey @erictleung can I work on this?

[2022-02-22 17:37] Simba-97 commented on #656
Hey @erictleung I have created a PR #657 for the task, Please review and request code changes if any.

[2022-02-28 18:47] erictleung commented on #656
@Simba-97 thanks for your patience. Just reviewed your PR and will be merged momentarily. Thanks!

[2022-02-28 18:47] #656 closed

[2022-02-28 19:38] #649 closed

[2022-03-01 10:15] SBBradley opened #664 "Fix dead link on line 97 of README.md"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.

The link for Good First Bugs links to a web page error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' [Line 97]
2. Click on '....' [Good

[2022-03-03 15:44] FahimFBA opened #666 "Translation into Bengali (Want to rewrite the full README as the previous one has taken directly from Google Translator and sounds robotic)"
Hello,
I am interested to translate this project into Bengali. As I am already working as a volunteer in the freeCodeCamp Bengali team, I think I would be able to translate the project all by myself. I just noticed that it has already been translated to Bengali, but many of the lines are translated using the **Google Translate** which makes the translated version more robotic. I want to make chang

[2022-03-04 12:42] SiddheshKukade commented on #666
I think you should just go for it 👍

[2022-03-06 21:59] GAbdulwahab commented on #386
i want to translate

[2022-03-09 02:23] Nithin108 commented on #513
hi i can review this code i know telugu

[2022-03-16 21:15] #635 closed

[2022-03-16 22:49] #664 closed

[2022-03-26 14:06] GAbdulWahab commented on #386
can I help to translate to Arabic with them @erictleung @HishamKhdair @kaliomar

[2022-03-29 08:15] BlackCrowxyz opened #674 "Add Farsi(فارسی) to "Read this guide in other languages" section"
I have noticed that Farsi is missing in the table of translations!

[2022-04-01 11:59] GAbdulWahab commented on #636
@erictleung  ok, can you assign it for me?

[2022-04-02 05:10] erictleung commented on #636
@GAbdulWahab go for it! I don't need to assign you. Your comment is enough to claim this issue. Let me know if you need any more help.

[2022-04-02 12:34] GAbdulWahab commented on #636
@erictleung  thank you so much

[2022-04-03 23:41] #636 closed

[2022-04-06 19:21] erictleung commented on #386
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/670 Happy coding!

[2022-04-06 19:21] #386 closed

[2022-04-10 13:48] Light-coder777 commented on #651
man thats good work there

[2022-04-12 11:34] erictleung commented on #598
Looks like we already have a Persian translation added here https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/322. Closing as done. But you're welcome to improve the translations with your own pull request. Happy coding!

[2022-04-12 11:34] #598 closed

[2022-04-12 11:47] #674 closed

[2022-04-12 12:03] #19 closed

[2022-04-12 12:17] erictleung commented on #651
@kenanajkunic thanks for making this suggestion! If you want to translate them, please use one of these for the file you create to be consistent with the other language-named files.

- Serbian = `README-SR.md`
- Croatian = `README-HR.md`
- Bosnian = `README-BS.md`

Thanks!

[2022-04-12 12:20] erictleung commented on #666
@FahimFBA thanks for your observation. We depend on others to see there is improvements that can be made.

Here's a direct link to the associated README file: https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/main/README-BN.md

In your pull request, you can add this to the body of the pull request to automatically close this issue.

[code]

Feel free to create a branch of yours

[2022-04-12 12:22] #634 closed

[2022-04-12 12:49] FahimFBA commented on #666
Thank you, @erictleung. I am doing everything according to your instruction. Please give me some days until I finish the task.

[2022-04-13 04:05] Light-coder777 opened #679 "Hey i would like to translate your readme file into Hindi"
## Suggested link

## Reasoning

## Section

[2022-04-14 20:15] erictleung commented on #679
Hello @Light-coder777! Welcome. Thank you for your enthusiasm, but our repository has already been translated to Hindi https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/main/README-HI.md. If you want to take a look at it, feel free to make a pull request to improve the translation if you see any room for improvement. Happy coding!

[2022-04-14 20:15] #679 closed

[2022-04-14 20:16] erictleung commented on #666
@FahimFBA happy to help. And no rush, do it at the pace that works for you and your life. Thanks for your time 👍

[2022-04-15 19:54] FahimFBA commented on #666
Please mention not. :) I am working on this issue!

[2022-04-16 20:11] Kas1680 opened #681 "Section missing in README Chinese Translation"
Issue:

The Chinese translation of README file is missing this part: "

[Open Source programs to participate in](https://github.com/Kas1680/how-to-contribute-to-open-source/blob/main/README.md#open-source-programs-to-participate-in)

and a few more links.

I am going to try and add them.

[2022-04-17 03:06] GAbdulWahab opened #684 "adding Girlscript Summer of Code program on Open Source contribution initiatives"
## Suggested link
[Girlscript Summer of Code](https://gssoc.girlscript.tech/)

 i make  PR in  #683
## Reasoning

## Section
Open Source contribution initiatives

[2022-04-18 06:00] #684 closed

[2022-04-25 00:28] #644 closed

[2022-05-02 16:21] FahimFBA opened #690 "An unnecessary space and a typo need to be fixed"
**Describe the bug**
The main readme (EN) has two minor documenting issues, an unnecessary space and a typo. I am adding a PR to fix them.

[2022-05-05 22:29] #666 closed

[2022-05-06 17:24] #690 closed

[2022-05-09 05:47] grze888siu commented on #598
- [ ]

[2022-05-25 16:11] #36 closed

[2022-05-28 08:21] uday03meh commented on #620
@iamrahulrnair Are you still working on this one?

[2022-05-30 19:30] erictleung opened #701 "Update Forge Your Future with Open Source link"
Our CI flags this as a redirect and is suggesting to use the full URL instead.

[code]

[2022-05-30 19:33] erictleung opened #702 "Update GitHub Guides link"
Our CI flags this as a redirect and is suggesting to use the full URL instead.

[code]

[2022-05-30 19:35] erictleung opened #703 "Update First Timers Only link"
Our CI flags this as a redirect and is suggesting to use the full URL instead. Here, we just need to remove that single forward slash at the end.

[code]

[2022-05-30 19:37] erictleung opened #704 "Update Mastering Markdown link"
Our CI flags this as a redirect and is suggesting to use the full URL instead.

[code]

[2022-05-30 19:38] erictleung opened #705 "Update First Mission: Contributors Page link"
Our CI flags this as a redirect and is suggesting to use the full URL instead.

[code]

[2022-05-30 19:46] erictleung opened #706 "Update What open-source should I contribute to link"
Our CI flags this as a redirect and is suggesting to use the full URL instead.

[code]

[2022-05-30 19:48] erictleung opened #707 "Update Think like a git link"
Our CI flags this as a redirect and is suggesting to use the full URL instead. This one just needs to update `http` to `https`.

[code]

[2022-05-30 19:50] Simba-97 commented on #702
I would like to work on this, could you assign it to me

[2022-05-30 19:53] Simba-97 commented on #705
I would like to work on this

[2022-05-30 19:55] erictleung opened #708 "Update set up trying git link"
Our CI flags this as a redirect and is suggesting to use the full URL instead. This link isn't the same as it once was, so this will require a bit of a rewrite.

[code]

[2022-05-30 19:58] erictleung opened #709 "Update GitHub Learning Resources link"
Our CI flags this as a redirect and is suggesting to use the full URL instead.

[code]

[2022-05-30 20:03] #681 closed

[2022-05-30 20:04] erictleung commented on #705
Hi @Simba-97, thanks for your enthusiasm to help out! I see that you've contributed to our repo before. I've created this issue for first-time contributors to give them a chance to learn as well. So if you can, please keep this open for others to try as well. Thanks!

[2022-05-30 20:05] erictleung commented on #702
Hi @Simba-97, thanks for your enthusiasm to help out! I see that you've contributed to our repo before. I've created this issue for first-time contributors to give them a chance to learn as well. So if you can, please keep this open for others to try as well. Thanks!

[2022-05-30 20:09] #624 closed

[2022-06-01 09:10] Safirangi commented on #704
Hey, Can I work on this issue?

[2022-06-02 04:52] #704 closed

[2022-06-02 04:54] #708 closed

[2022-06-02 11:17] uday03meh commented on #706
Hi @erictleung! I have made a PR for this issue, but it shows failed checks. Can you please help me resolve this?

https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/715

[2022-06-02 19:29] erictleung commented on #707
@Filippo-B sure thing! It hasn't been fixed yet. Feel free to make a PR to fix it.

[2022-06-03 00:07] erictleung commented on #706
@uday03meh as I mentioned in those PRs, I'm leaving this issue to first time contributors. You are right that this fails the automated tests, but I'll let others practice with this change. Thanks!

[2022-06-03 16:37] YaSh8202 commented on #709
Hey @erictleung  I would like to contribute, please assign me.

[2022-06-03 19:05] erictleung commented on #709
@YaSh8202 feel free to make a pull request if you want to contribute. I'll take your comment as you claiming this issue :+1:

[2022-06-03 19:41] #709 closed

[2022-06-03 19:42] #705 closed

[2022-06-04 12:56] prasanta10 commented on #706
@erictleung I would like to contribute.

[2022-06-05 19:27] uday03meh opened #721 "Video tutorial for Git and Github by Harvard University"
## Suggested link

https://www.youtube.com/watch?v=NcoBAfJ6l2Q&t=1604s&ab_channel=CS50

## Reasoning

This is an hour long tutorial by Harvard University, part of their CS50 Web Development course on understanding Git and GitHub and working with Git commands.  The video covers everything needed to get started as a beginner and all concepts are taught in a way that they are easier to grasp and reta

[2022-06-06 19:04] erictleung commented on #706
@prasanta10 go for it! Let us know if you have any questions or issues contributing. Good luck!

[2022-06-07 05:06] #706 closed

[2022-06-07 16:25] SwapnilThatte commented on #721
I would like to work on this issue

[2022-06-08 21:25] erictleung commented on #703
@GAbdulwhb hello! It appears you've had some experience contributing to this repo already. I've labeled this issue for first-timers only, so I will leave this open for less experienced developers to practice contributing. I hope you understand. Thanks and happy coding!

[2022-06-08 21:32] GAbdulwhb commented on #703
@erictleung
Well sir, I'm sorry for that, I didn't know <3

[2022-06-10 01:07] marahim20 commented on #703
@erictleung can I take this on?

[2022-06-10 01:08] marahim20 commented on #702
@erictleung can I take this on?

[2022-06-10 04:31] erictleung commented on #703
@marahim20 hi there! Yes, you may take this issue on. Note, I did see your other comment in another issue here https://github.com/freeCodeCamp/how-to-contribute-to-open-source/issues/702#issuecomment-1151775111. If you work on this issue #703, then please leave #702 for another person as you will no longer be a first time contributor to our repository. I hope that makes sense. Let us know if you h

[2022-06-10 04:59] SangamSwadiK commented on #702
@erictleung Hi, updated the URL to the full URL.
PR : #732

[2022-06-10 05:52] #702 closed

[2022-06-10 18:50] marahim20 commented on #703
Sure! I'm going with this one

[2022-06-11 05:01] #703 closed

[2022-06-14 18:50] manandraj20 opened #738 "Request to admit me in the organization."

[2022-06-14 19:54] erictleung commented on #738
@manandraj20 thanks for your interest in joining our organization! Membership into our organization is based on consistent involvement in our community over time. Feel free to take a look here for ways to help out https://contribute.freecodecamp.org/. Also feel free to read over this FAQ about being a moderator https://contribute.freecodecamp.org/#/FAQ?id=i-am-interested-in-being-a-moderator-at-fr

[2022-06-14 23:11] #738 closed

[2022-06-16 10:20] angieloux commented on #620
Hey, I noticed this was still open so I added the link & created the PR just now. Lmk if any issues!
-AJ

[2022-06-19 04:30] #620 closed

[2022-06-22 18:16] sanjeeban5644 opened #742 "Article -> "Finding ways to contribute to open source on GitHub" Link added."
## Suggested link
https://docs.github.com/en/get-started/exploring-projects-on-github/finding-ways-to-contribute-to-open-source-on-github

## Reasoning
The Article is present in the Github Documentation. The page also has information related to topics such as "Finding Good First Issues" and "Opening a Pull Request"
## Section
This Link should be placed in the Readme File under "Useful articles for

[2022-06-23 17:50] sanjeeban5644 commented on #701
Hi! Can I work on this. I have already made a Pull Request regarding this Issue, but if you can assign me to this issue I could submit another fresh Pull Request specific to this Issue itself.

[2022-06-23 19:13] worldwidepaniel opened #744 "Polish REAME.md feels auto-translated"
# Hello!
I want to start my journey in contributing to open-source projects. I've taken a look at Polish readme ( I'm a native speaker ), and I've noticed that it feels auto-translated. So I'd like to try making it friendlier for my fellow Polish coders.

**If you are Polish, please correct any of my mistakes / propose a more suitable translation**

Have a great day!

[2022-06-25 00:05] #744 closed

[2022-06-28 00:43] #742 closed

[2022-06-28 00:43] #701 closed

[2022-06-28 01:19] erictleung opened #746 "Replace build status badge in README"
We are no longer relying on Travis CI to test this repository, rather we are using GitHub Actions. So we can replace the build status.

[code]

At the very least, this should be done for the [main README.md file](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/main/README.md), but ideally, this should be replaced in all the README language variations as well.

[2022-06-28 01:45] Safirangi commented on #746
Hey, can I work on this issue?

[2022-06-28 13:50] melvincwng commented on #746
@erictleung, just to provide some context here:

In PR #747, @kum9748ar has already replaced the build status badge for the main README.md
In my PR #748, I have replaced the build status badges for all the remaining README language variations.

There is no merge conflict, but please kindly review & approve the changes.

Thanks!

[2022-06-28 17:24] #746 closed

[2022-07-01 03:22] OrneryCash commented on #404
Hey, I'm Thai. I can help with it.

[2022-07-02 00:40] erictleung commented on #404
@OrneryCash great! Feel free to translate what you can and make a pull request with your work. Happy to help if you have any questions. Good luck!

[2022-07-02 04:11] SarveshWajs commented on #404
Hi i would like to help

[2022-07-02 23:38] erictleung commented on #404
@SarveshWajs welcome! Feel free to make a translation as well. Please watch out for any other similar pull requests for Thai if you do make one.

For those who are working on this, be sure to have `#404` in your PR message body to link back to this issue. If you translate the entire readme, then have `Closes #404` in your message.

[2022-07-04 00:18] OrneryCash commented on #404
@erictleung Thank you. Working on it.

[2022-07-04 04:49] OrneryCash opened #751 "Replace GitHub Learning Lab with GitHub Skills"
## Suggested link

https://skills.github.com

## Reasoning

Due to GitHub Learning Lab will shut down on September 1, 2022. So It will be more useful if we replace with GitHub Skills

## Section

- ["GitHub Learning Lab"](https://lab.github.com/) - Level up your skills with GitHub Learning Lab. Our friendly bot will take you through a series of fun, practical projects to learn the skills you need

[2022-07-06 05:09] Oberkoh commented on #751
I intend to work on fixing this issue

[2022-07-07 01:01] OrneryCash commented on #751
@Oberkoh, Thank you for your contribution. But please make the pull request to freeCodeCamp repository.

[2022-07-07 21:37] erictleung opened #752 "Add First Aid Git"
## Suggested link

https://firstaidgit.io/#/

## Reasoning

Great direct resource for all things git.

## Section

"Using Version Control"

[2022-07-08 11:33] OrneryCash commented on #751
Done. Wait for this pull request to be merged. And then I close this issue. Thank you so much for your contribution. Have a nice day.

[2022-07-08 20:04] Oberkoh commented on #752
Please I'm working on this

[2022-07-10 18:33] #751 closed

[2022-07-10 18:34] #752 closed

[2022-07-10 18:53] erictleung opened #755 "Target all README files in GitHub Actions check"
This will most likely cause issues with the CI tests to pass, but I think it is time we target and check all README files in our repository.

[code]

File: https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/main/.github/workflows/test.yml

[2022-07-16 22:34] dansonserge opened #757 "Add french translations on "Using Version Control" section and Correct a typo on cheat sheet"
## Reasoning
- Add missing translations on the "Using Version Control" section and reorder translations appropriately just the same way as the English version

- Correct the typo from Cheat Cheet to Cheat Sheet

## Section
Using Version Control

[2022-07-21 08:52] madhhuurrii commented on #755
Hi @erictleung , I would like to contribute!

[2022-07-21 15:06] sLAPgetright opened #764 "Translation of readme in portuguese"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-07-21 17:49] JeetDSharma commented on #755
Hey @erictleung, I am interested to make changes and contribute for the first time!

[2022-07-22 17:24] erictleung commented on #755
@JeetDSharma thanks for your enthusiasm to contribute! It appears that @madhhuurrii has already claimed and made a pull request for this change. Please take a look at other issues and see if you can contribute. Otherwise, take a look at our README for other places to contribute. Thanks!

[2022-07-22 17:40] #757 closed

[2022-07-23 16:24] #755 closed

[2022-07-25 04:59] erictleung opened #765 "Move git link from Open Source Books to Version Control"
This link needs to be moved from under "Open Source Books" to "Using Version Control"

[code]

And the description can be change to this instead.

[code]

[2022-07-25 13:01] Dharmik48 commented on #765
I would like to work on this issue

[2022-07-26 05:53] erictleung commented on #765
Closed by https://github.com/freeCodeCamp/how-to-contribute-to-open-source/pull/766

[2022-07-26 05:53] #765 closed

[2022-08-01 17:18] erictleung opened #770 "Add First Contributions repo"
## Suggested link

https://github.com/forwards/first-contributions

[code]

## Reasoning

Although a little bit focused for R programmers, this is still an opportunity for contributors to practice on a repository to contribute.

## Section

Open Source contribution initiatives

[2022-08-08 21:46] iem-saad commented on #485
Hi! @erictleung @AliSheheryar , I hope you are doing good. Is the translation in Urdu done? If yes I can volunteer for review and in case you are not working on this, I am also translating in Urdu and it will be completed by tomorrow.

Thanks.

[2022-08-14 03:08] sahil-MK2 commented on #770
i want to work on this issue please assign me this issue

[2022-08-18 10:39] Muhammad-Shahid-Jamal opened #780 "Translate README.md to Urdu"
My native language is Urdu and I saw there is no full version available for that file in the Urdu language.

[2022-08-18 11:40] Muhammad-Shahid-Jamal commented on #780
Hi, @erictleung  kindly assign this issue to me so I can contribute to this.

[2022-08-20 09:09] VahilaK opened #783 "GitHub Workflow checks fail due to bad links in README.md"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
Few links in README.md have 301 and 502 status based on [this](https://github.com/freeCodeCamp/how-to-contribute-to-open-source/runs/7930232978?check_suite_focus=true#step:4:157) action log. Because of these links

[2022-08-20 09:14] VahilaK commented on #783
@erictleung I can take this up. I am planning to update the links with 301 status code to new redirected links and remove the content related to the 502 status link. Let me know your views.

[2022-08-31 06:20] erictleung commented on #783
@VahilaK thanks for making this issue. I'm aware of this issue. Feel free to fix some links in the README files, but no pressure to fix all the file links because there are a lot. Also, we can keep this issue open for others to refer to this and fix as well.

[2022-09-04 16:59] aakarshan-raj opened #788 "issue with hindi translation"
Translation to hindi of readme file is incomplete and have inconsistency with translation, i will try to fix it as soon as i can.

[2022-09-04 17:03] aakarshan-raj commented on #780
I think you can contribute without being assigned to it.

[2022-09-09 15:13] VahilaK commented on #783
@erictleung I have fixed some links in README-AR file but there are some duplicate links which are still shown as flags for this file. Most of these links are in '--white-list' but there are new duplicate links added.

I looked into the documentation of 'awesome_bot' and we can leverage '--allow-dupe' to avoid duplicates or we can remove the duplicate links. Let me your thoughts.

[2022-09-14 11:36] irissantos91 opened #795 "Translate README.md to PT-PT"
**The issue:**
There's already is a README file for Brazilian speakers, I'd like to contribute with one for Portuguese native speakers too.
Would like to ask for permission to submit a pull request.

If there's anyone available to review the translation I'd also appreciate it!

[2022-10-12 03:19] pranjal779 opened #800 "Complete Guide to Open Source - How to Contribute"
## Suggested link

[Complete Guide to Open Source - How to Contribute](https://www.youtube.com/watchv=yzeVMecydCE&ab_channel=freeCodeCamp.org) by Eddie Jaoude FreeCodeCamp, Youtube video.

## Reasoning

I got the basics of contributing to open source project, from your, FreeCodeCamp's Youtube Channel video Complete Guide to Open Source - How to Contribute,
since this link was not mentioned here I

[2022-10-12 07:57] m-shahzaib-anwar commented on #780
you can contribute without being assigned. Just create PR

[2022-10-14 15:37] 0xGhada opened #804 "there are problem in this Linke U can fix it or remove?"
![image](https://user-images.githubusercontent.com/115355629/195886159-c2042e4d-eb05-4d13-929e-3986109a8aba.png)

[2022-10-14 23:38] pranjal779 commented on #800
what should I do now?
is there any specific way to add the link or I do not have the previliage to add link?
I dont understand
please advice

[2022-10-16 10:27] sachinkhatripro opened #808 "Readme file in Punjabi language"
Hi,
I see there's no Punjabi language translation Readme file . May I please be assigned the job to translate and submit the same?

[2022-10-16 20:25] Arijit1000 commented on #783
@erictleung @VahilaK I see some of the workflows of the Readme file are failing in the Github actions and it is returning "Process completed with exit code 1." Can you have a look into this issue?

[2022-10-16 20:27] Arijit1000 commented on #800
Please check the link once. It is not redirecting to the original page. You can attach the link once again over here, after checking.

[2022-11-08 04:01] daudi13 opened #818 "Translate README.md file to Swahili"
I'd like to translate the README.md file to Swahili.

[2022-11-15 13:36] Bhavya031 opened #821 "translate README.md to Gujarati"
## Suggested link

## Reasoning

## Section

[2022-11-15 13:43] Bhavya031 opened #822 "Translate README.md to Gujarati"
## Suggested link
https://github.com/freeCodeCamp/how-to-contribute-to-open-source/blob/main/README.md

## Reasoning
Gujarati is my native language and it will be very helpful to people who only speak and read in Gujarati.

[2022-11-15 13:44] Bhavya031 commented on #822
Translate README.md to Gujarati

[2022-11-15 13:45] #821 closed

[2022-11-17 19:35] #804 closed

[2022-11-18 18:59] #800 closed